<!-- Modal Dialog for -Add item- -->

<template name="cmsBlogAdd">
	<div class="modal" id="modal-one" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-header">
				<h3>Add</h3>
				<a href="" class="btn-close btnCancel" aria-hidden="true">&Cross;</a>
			</div>
			<div class="modal-body">
				{{> cmsBlogAddTitle}}
				{{> cmsBlogAddSlug}}
			</div>
			<div class="modal-footer">
				<div class='btnCancel btn action'>Cancel</div>
				<div id='btnOkay' class='btn action green {{bntOkayStatus}}'>Okay</div>
			</div>
		</div>
	</div>
</template>

<template name = 'cmsBlogAddTitle'>
		<div class='itemlabel'>Title</div>
		<div class='itemfield'>
			<input 
				type='text' 
				id='dialog-input-title' 
				class='input-small' 
				maxlength='60' 
				value={{slug}}
			>
			{{> cmsBlogAddTitleStatus}}
		</div>
</template>

<template name="cmsBlogAddTitleStatus">
	{{#each status}}
		{{#if messageCorrect}}
			<div class='itemfield-remarks'>
				{{{message}}}
			</div>
		{{else}}
			<div class='itemfield-warning'>
				{{{message}}}
			</div>
		{{/if}}
	{{/each}}
</template>

<template name="cmsBlogAddSlug">
		<div class='itemlabel'>URL</div>
		<div class='itemfield'>
			<p>{{slug}}&nbsp;</p>
		</div>
</template>




