
<!-- Row of groups -->
<template name="cmsGroupNav">
	{{checkSelected}}
	<div id='main-nav-blogGroups'>
		<div id='btn-navbar'>
			{{#each list}}
				<div class='listBtn btn {{listSelected}} blogGroup'>{{groupName}}</div>
			{{/each}}
		</div>
	</div>
</template>




