<!-- carousel -->

<template name="homeSlider">
	{{#if is_equal frontLanguageHelper 0}}  
		{{> homeSlider_NL}}
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		{{> homeSlider_EN}}
	{{/if}}
</template>


<template name="homeSlider_NL">
	<div class="RD_container">
		<div id="slider">
			<div id="sliderRD" height="450" frameborder="0" width="990" title="slider">
				<div id="container-slider">
					<div class="flex-container">
						<div class="flexslider">
							<ul class="slides">
								{{#each slide}}
									<li class='slides123'>
										{{#each image}}
											<a href="{{sliderLinkUrl}}"><img src="{{this.url store='imagesCarousel'}}" alt="" /></a>
										{{/each}}
										<div class="flex-caption">
											<a href="{{sliderLinkUrl}}"><h2>{{title}}</h2></a>
											<p><a href="{{sliderLinkUrl}}">{{sliderLinkText}}</a></p>
										</div>
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="homeSlider_EN">
	<div class="RD_container">
		<div id="slider">
			<div id="sliderRD" height="450" frameborder="0" width="990" title="slider">
				<div id="container-slider">
					<div class="flex-container">
						<div class="flexslider">
							<ul class="slides">
								{{#each slide}}
									<li class='slides123'>
										{{#each image}}
											<a href="{{sliderLinkUrl}}"><img src="{{this.url store='imagesCarousel'}}" alt="" /></a>
										{{/each}}
										<div class="flex-caption">
											<a href="{{sliderLinkUrl}}"><h2>{{title}}</h2></a>
											<p><a href="{{sliderLinkUrl}}">{{sliderLinkText}}</a></p>
										</div>
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>




























<template name="homeSlider_">
	<div id="slider">
		<div id="sliderRD" height="450" frameborder="0" width="935" title="slider">
			<div id="container-slider">
				<div class="flex-container">
					<div class="flexslider">
						<ul class="slides">
						&nbsp;
						{{#each slide}}
							<li>
								{{#each image}}
									<a href="{{sliderLinkUrl}}"><img src="{{this.url store='imagesCarousel'}}" alt="" /></a>
								{{/each}}
								
								<div class="flex-caption">
									<a href="{{sliderLinkUrl}}"><h2>{{title}}</h2></a>
									<div class="lijn">&nbsp;</div>
									<p><a href="{{sliderLinkUrl}}">{{sliderLinkText}}</a></p>
								</div>
							</li>
						{{/each}}
						
							<!--
							<li>
								<a href="#"><img src="/front/images-slider/slide1.jpg" alt="" /></a>
								<div class="flex-caption">
									<a href="#"><h2>gefreesde tafels</h2></a>
									<div class="lijn">&nbsp;</div>
									<p><a href="#">meer info ></a></p>
								</div>
							</li>
							<li>
								<a href="#"><img src="/front/images-slider/slide2.jpg" alt="" /></a>
								<div class="flex-caption">
									<a href="#"><h2>buitenhaard</h2></a>
	 								<div class="lijn">&nbsp;</div>
									<p><a href="#">meer over de buitenhaard ></a></p>
								</div>
							</li>
							<li>
								<a href="#"><img src="/front/images-slider/slide3.jpg" alt="" /></a>
								<div class="flex-caption">
									<a href="#"><h2>picknicktafel</h2></a>
									<div class="lijn">&nbsp;</div>
									<p><a href="#">bekijk onze gefreesde tafels ></a></p>
								</div>
							</li>
							-->
							
						</ul>
					</div>
				</div>
			</div>
			&nbsp;
		</div>
	</div>
</template>



<template name="homeSlider__">
    <!-- slider ..................................... -->
    <div class="RD_container">
      <div id="slider">
        <div id="sliderRD" height="450" frameborder="0" width="990" title="slider">
          <div id="container-slider">
            <div class="flex-container">
              <div class="flexslider">
                <ul class="slides">
                  <li>
                    <a href="#"><img src="images-slider/slide1_990x450.jpg" alt="" /></a>
                    <div class="flex-caption">
                      <a href="#"><h2>Symposium 2015</h2></a>
                      <p><a href="#">3 Juni 2015 Natlab Eindhoven</a></p>
                    </div>
                  </li>
                    <a href="#"><img src="images-slider/slide2_990x450.jpg" alt="" /></a>
                  <li>
                    <div class="flex-caption">
                      <a href="#"><h2>THINK DEMENTIA</h2></a>
                      <p><a href="#">Innovate Dementia Event</a></p>
                    </div>
                  </li>
                  <li>
                    <a href="#"><img src="images-slider/slide3_990x450.jpg" alt="" /></a>
                    <div class="flex-caption">
                      <a href="#"><h2>Program & tracks</h2></a>
                      <p><a href="#">View program 2015</a></p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</template>


