<!-- home -->

<template name="homeCms">
	{{cmsTabs}}
	{{> cmsPage}}
</template>


<template name="cmsHomePage">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListA}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>


<template name="cmsHomeSlider">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{group}}
		{{> cmsList_slider}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>
