<!-- home -->
<template name="home">
		{{> homeSlider}}
    <!-- content ................................ -->
    <div class="RD_container">
      <div class="col30">
				{{#each item}}
					<h1>{{title}}</h1>
					<script>renderCufont();</script>
					{{{homeTextL}}}
				{{/each}}
				{{> registerBtn}}
      </div>

      <div class="col20">
				{{> newsListX3}}
				{{> twitterFeed}}
      </div>
    </div>

</template>
