<!-- social media agenda ------------------------------------------------------------------ -->
<template name="front_blog_social_media">
	{{socMed}}
	<p align="right">
		<div class="addthis_toolbox" addthis:url="{{AddthisUrl}}">
			<!--
			AddthisUrl = {{AddthisUrl}}
			-->
			<a class="addthis_button_facebook"
				addthis:title = 			"{{AddthisTitle}}"
				addthis:description = "{{AddthisDescription}}"
				addthis:url = 				"{{AddthisUrl}}">
				<img src="/images-design/btn-facebook.gif" width="22" height="22" alt=""/>
			</a>
			<a class="addthis_button_google_plusone_share"
				addthis:title = 			"{{AddthisTitle}}"
				addthis:description = "{{AddthisDescription}}"
				addthis:url = 				"{{AddthisUrl}}">
				<img src="/images-design/btn-googleplus.gif" width="22" height="22" alt=""/>
			</a>
			<a class="addthis_button_linkedin"
				addthis:title = 			"{{AddthisTitle}}"
				addthis:description = "{{AddthisDescription}}"
				addthis:url = 				"{{AddthisUrl}}">
				<img src="/images-design/btn-linked-in.gif" width="22" height="22" alt=""/>
			</a>

		</div>
	</p>

</template>








<!-- social media sensetalk main--------------------------------------------------------- -->
<template name="front_blog_social_media_sensetalk">
	{{socMed}}
	<p align="right">
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
			<a class="addthis_button_facebook"
				addthis:title = 			"{{AddthisTitle}}"
				addthis:description = "{{AddthisDescription}}"
				addthis:url = 				"{{AddthisUrl}}">
				<img src="/images-design/btn-facebook.gif" width="22" height="22" alt=""/>
			</a>
			<a class="addthis_button_google_plusone_share"
				addthis:title = 			"{{AddthisTitle}}"
				addthis:description = "{{AddthisDescription}}"
				addthis:url = 				"{{AddthisUrl}}">
				<img src="/images-design/btn-googleplus.gif" width="22" height="22" alt=""/>
			</a>
			<a class="addthis_button_linkedin"
				addthis:title = 			"{{AddthisTitle}}"
				addthis:url = 				"{{AddthisUrl}}">
				<img src="/images-design/btn-linked-in.gif" width="22" height="22" alt=""/>
			</a>
		</div>
	</p>
</template>
