
<!-- klanten -->

<template name="klanten">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
			
			

			
		
				<div id="tools"><img src="/front/images-design/icon-zaag.gif" width="74" height="47" alt=""/></div>
					<div id="titel" style="background-image:none">
						<h1>Klanten</h1>
					</div>
	
	
					<div id="klanten-logos">

						{{#each klant}}
							<div class="logo-klant"> 
								<a href="{{link}}">
									{{#each image}}
										<img src="{{this.url store='imagesCustomer'}}" width="290" height="150" alt=""/>
										<!--
										<img src="{{this.url store='imagesCustomer'}}" /><br
										{{this.name}}<br>
										-->
									{{/each}}
								</a> 
							</div>
						{{/each}}

					
					
						<!--
						<div class="logo-klant"> <a href="#"><img src="images/logo-dinotec.gif" width="290" height="150" alt=""/></a> </div>
						<div class="logo-klant"> <a href="#"><img src="images/logo-ahrend.gif" width="290" height="150" alt=""/></a> </div>
						<div class="logo-klant"> <a href="#"><img src="images/logo-kennisnet.gif" width="290" height="150" alt=""/></a> </div>
						<div class="logo-klant"> <a href="#"><img src="images/logo-tue.gif" width="290" height="150" alt=""/></a> </div>
						<div class="logo-klant"> <a href="#"><img src="images/logo-mu.gif" width="290" height="150" alt=""/></a> </div>
						<div class="logo-klant"> <a href="#"><img src="images/logo-zuiderzee.gif" width="290" height="150" alt=""/></a> </div>
						<div class="logo-klant"> <a href="#"><img src="images/logo-labels.gif" width="290" height="150" alt=""/></a> </div>
						<div class="logo-klant"> <a href="#"><img src="images/logo-lebesque.gif" width="290" height="150" alt=""/></a> </div>
						<div class="logo-klant"> <a href="#"><img src="images/logo-ehv-atletiek.gif" width="290" height="150" alt=""/></a> </div>
						<div class="logo-klant"> <a href="#"><img src="images/logo-ns.gif" width="290" height="150" alt=""/></a> </div>
						<div class="logo-klant"> <a href="#"><img src="images/logo-vij5.gif" width="290" height="150" alt=""/></a> </div>
						<div class="logo-klant"> <a href="#"><img src="images/logo-kika.gif" width="290" height="150" alt=""/></a> </div>
						-->
						
					</div>
					
					
					
					
			{{#each item}}
					
					<!--
					<div class="tekst-midden">
						<h2>Architecten</h2>
						<p>
							<a href="#">Diederen Dirrix</a> / 
							<a href="#">Houben van Mierlo architecten</a> /
							<a href="#"> Paul Peters ontwerp </a><br>
							<a href="#">Spierings Swart architecten</a> /
							<a href="#"> van Helmond | Zuidam architecten</a>
						</p>
					</div>
					-->
					<div class="tekst-midden">
						<h2>Architecten</h2>
						{{{klantArchitecten}}}
					</div>
					
					<!--
					<div class="tekst-midden">
						<h2>Ontwerpers</h2>
						<p>
							<a href="#">Gijs van Bon</a> / 
							<a href="#">Joost van Bleijswijk</a> / 
							<a href="#">Kiki van Eijk</a> / 
							<a href="#">Lady Penelope</a> / 
							<a href="#">Maarten Baptist</a><br>
							<a href="#">Marcel Wanders</a> / 
							<a href="#">Marijn van der Poll</a> / 
							<a href="#">Ontwerplabel vij5</a> / 
							<a href="#">Sander Mulder</a><br>
							<a href="#">Studio JSPR</a> / 
							<a href="#">Studio OOOMS</a> / 
							<a href="#">Studio 1:1</a>
						</p>
					</div>
					-->
					<div class="tekst-midden">
						<h2>Ontwerpers</h2>
						{{{klantOntwerpers}}}
					</div>
			
			{{/each}}
			
			
			
 		<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>





