<!-- klanten -->

<template name="klantenCms">
	{{cmsTabs}}
	{{> cmsPage}}
</template>




<template name="cmsKlantenPage">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListA}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>


<template name="cmsKlantenKlanten">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{group}}
		{{> cmsList_slider}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>


<template name="cmsKlantenArchitecten">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListA}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>


<template name="cmsKlantenOntwerpers">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListA}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>


<!--
<template name="cmsKlantenArchitecten">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{group}}
		{{> cmsList_slider}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>


<template name="cmsKlantenOntwerpers">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{group}}
		{{> cmsList_slider}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>
-->
