<template name="editPage">
	<div id='main-item'>
		{{#each item}}

			<!-- navbar editTabs -->
			<div id='btn-navbar-post'>
				{{#each list}}
					<div class='listBtn btn blogGroup {{listSelected}}'>{{name}}</div>
				{{/each}}
			</div>

			{{> cmsPostMeta}}

			{{#if is_equal currentTab 'pageText'}} 						{{> cmsEdit_pageText}} {{/if}}
			{{#if is_equal currentTab 'seo'}} 								{{> cmsEdit_seo}} {{/if}}

			{{#if is_equal currentTab 'homeSlider'}} 					{{> cmsEdit_homeSlider}} {{/if}}

			{{#if is_equal currentTab 'symposiumTitle'}} 			{{> cmsEdit_symposiumTitle}} {{/if}}
			{{#if is_equal currentTab 'programDescription'}}	{{> cmsEdit_programDescription}} {{/if}}

			{{#if is_equal currentTab 'bewustwordingTitle'}} 	{{> cmsEdit_bewustwordingTitle}} {{/if}}
			{{#if is_equal currentTab 'bewustwordingRegs'}} 	{{> cmsEdit_bewustwordingRegs}} {{/if}}

			{{#if is_equal currentTab 'programDescription2'}}	{{> cmsEdit_programDescription2}} {{/if}}
			
			{{#if is_equal currentTab 'newsShort'}}	{{> cmsEdit_newsShort}} {{/if}}
			{{#if is_equal currentTab 'newsLong'}}	{{> cmsEdit_newsLong}} {{/if}}



		{{/each}}
	</div>
</template>
