
<template name="cmsEdit_klantTitle">
	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_title' value={{title}} class='input-small' maxlength='120' type='text'>
	</div>
	<div class='itemlabel'>Link</div>
	<div class='itemfield'>
		<input id='input_link' value={{link}} class='input-small' maxlength='120' type='text'>
	</div>
	{{> cmsUpdate updateStatus}}
</template>


<template name="cmsEdit_klantPhoto">
	{{> cmsEdit_imageUpload_customer}}
</template>









<template name="cmsEdit_klantArchitecten">
	<div class='itemlabel'>Architecten</div>
	<div class='itemfield'>
		<textarea id='input_klantArchitecten' class='article'>{{klantArchitecten}}&nbsp;</textarea>
		<script>placeCKeditor('input_klantArchitecten');</script>
	</div>
	{{> cmsUpdate updateStatus}}
</template>


<template name="cmsEdit_klantOntwerpers">
	<div class='itemlabel'>Ontwerpers</div>
	<div class='itemfield'>
		<textarea id='input_klantOntwerpers' class='article'>{{klantOntwerpers}}&nbsp;</textarea>
		<script>placeCKeditor('input_klantOntwerpers');</script>
	</div>
	{{> cmsUpdate updateStatus}}
</template>
