<!-- news -->

<!-- /main -->
<template name="news">
    <div class="RD_container">
      <div class="col30">
				{{#each item}}
					<h2 href="{{currentURL}}/{{slug}}" class="btn">
						{{title}}
					</h2>
					<script>renderCufont();</script>

					<p class='newsDate'>{{dateNice}}</p>
					<p class='newsShort'>
						{{{newsShort}}}
					</p>
				{{/each}}
			</div>
      <div class="col20">
				{{> twitterFeed}}
      </div>
    </div>
		<script>renderCufont();</script>

</template>


<!-- /main/x -->
<template name="news_slug1">
    <div class="RD_container">
      <div class="col30">
				{{#each item}}
					<h1>
						{{title}}
					</h1>
					<script>renderCufont();</script>

					<p class='newsDate'>{{dateNice}}</p>
					<!--
					{{newsShort}}<br><br>
					-->
					<p class='newsShort'>
						{{{newsLong}}}
					</p>
					<!--
						{{>shareit}}
					-->
					{{> news_social_media}}
					<br>
					<br>
					<a href="#" onclick="history.back();">{{> text_terugNews}}</a>
				{{/each}}
			</div>
      <div class="col20">
				{{> newsListX5}}
      </div>
    </div>
</template>
