<!-- newsList -->

<template name="newsListX3">
	<div class='newsList'>
		<h3>{{> text_Nieuws}}</h3>
		<br><br>
		{{#each item}}
			<a class='newsTitle newsListBtn' href='#'>
				{{title}}
			</a>
			<p class='newsDate'>{{dateNice}}</p>
		{{/each}}
	</div>
</template>



<template name="newsListX5">
	<div class='newsList'>
		<h3>{{> text_Nieuws}}</h3>
		<br><br>
		{{#each item}}
			<a class='newsTitle newsListBtn' href='#'>
				{{title}}
			</a>
			<p class='newsDate'>{{dateNice}}</p>
		{{/each}}
	</div>
</template>

