<!-- news -->

<template name="newsCms">
	{{cmsTabs}}
	{{> cmsPage}}
</template>


<template name="cmsNewsPosts">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListB}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>

