
<template name="cmsEdit_blok">
	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_block1_title' value={{block1_title}} class='input-small' type='text' maxlength='120'>
	</div>		

	<div class='itemlabel'>Text</div>
	<div class='itemfield'>
		<textarea id='input_block1_text' class='seoDescr' maxlength='400'>{{block1_text}}</textarea>
	</div>

	<div class='itemlabel'>Link</div>
	<div class='itemfield'>
		<input id='input_block1_link' value={{block1_link}} class='input-small' type='text' maxlength='100'>
	</div>		

	<div class='itemlabel'>Link text</div>
	<div class='itemfield'>
		<input id='input_block1_linktext' value={{block1_linktext}} class='input-small' type='text' maxlength='100'>
	</div>		
	
	{{> cmsUpdate updateStatus}}

</template>
