<!-- blokmeubel -->

<template name="blokmeubelCms">
	{{cmsTabs}}
	{{> cmsPage}}
</template>


<template name="cmsBlokmeubelPage">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListA}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>

