
<template name="cmsEdit_pageText">

	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_title' value={{title}} class='input-small' maxlength='120' type='text'>
	</div>

	<div class='itemlabel'>Article</div>
	<div class='itemfield'>
		<textarea id='input_homeTextL' class='article'>{{homeTextL}}&nbsp;</textarea>
		<script>placeCKeditor('input_homeTextL');</script>
	</div>

	{{> cmsUpdate updateStatus}}

</template>
