<template name="frontLayout">

	{{> frontNav}}
	{{> yield}}
	{{> footer}}
</template>


<template name="cmsLayout">
	<div id='cmsContainer'>
		<div id='cms'>
			{{> cmsNavHead}}
			{{#if loggedIn}}
				{{> cmsNav}}
				{{> yield}}
			{{else}}
				{{> cmsLogin}}
			{{/if}}
		</div>
	</div>
</template>


<template name="cmsLogin">
	<div id='main-nav' align='center'>
		Welcome to CMS<br/>
		Please sign in<br/>
	</div>
</template>
