<!-- bewustwording -->

<!-- /main -->
<template name="bewustwording">
    <div class="RD_container">
			{{> bewustwordingLeftCol}}
      <div class='col30 tracksHolder'>
				{{#each item}}
					<div class="programBox {{trackPos}} color{{trackType}} btn" style='top: {{top}}px; height: {{height}}px;' >
						<p>{{screenText}}</p>
					</div>
				{{/each}}
			</div>
    </div>
</template>


<!-- col Left -->
<template name="bewustwordingLeftCol">
      <div class="col20">
				{{#each page}}
					<h1>{{title}}</h1>
					<script>renderCufont();</script>

					{{{homeTextL}}}
				{{/each}}
				
				<br>
				<br>
				<br>
				
        <div class='legendaSample color0'>
          {{> text_Algemeen}}
        </div>
        <div class='legendaSample color1'>
          {{> text_Bewustwording}}
        </div>
				
      </div>
</template>


<!-- /main/x -->
<template name="bewustwording_slug1">
    <div class="RD_container">
			{{> bewustwordingLeftCol}}
      <div class='col30'>
				{{#each item}}
					<div class="programBoxFull color{{trackType}}">
						<p>{{screenText}}</p>
					</div>
					<div class="programBoxText" >
						{{{article}}}
						{{> registerBewustwBtn}}
						<br>
						<br>
						<a href="#" onclick="history.back();">{{> text_terugProg}}</a>
					</div>
					
				{{/each}}
			</div>
    </div>
</template>


