<!-- bewustwording -->

<template name="bewustwordingCms">
	{{cmsTabs}}
	{{> cmsPage}}
</template>


<template name="cmsBewustwordingPage">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListA}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>

<template name="cmsBewustwordingTrack">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListB}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>

<template name="cmsBewustwordingRegistration">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListBewustwording}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>
