<!-- program -->

<template name="programCms">
	{{cmsTabs}}
	{{> cmsPage}}
</template>


<template name="cmsProgramPage">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListA}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>

<template name="cmsProgramTrack">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListB}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>

