<!-- program -->

<!-- /main -->
<template name="program">
  <div class="RD_container">
		{{> programLeftCol}}
		<div class="col30">
			{{#each tracks}}
				<div class="programBoxFull color1" >
					<a href='{{currentURL}}/{{slug}}' class='btn'>{{title}}</a>
				</div>
			{{/each}}
		</div>
   </div>
</template>


<template name="programLeftCol">
		<div class="col20">
			{{#each page}}
				<h1>{{title}}</h1>
				<script>renderCufont();</script>
				{{{homeTextL}}}
			{{/each}}
		</div>
</template>


<!-- /main/x -->
<template name="program_slug1">
  <div class="RD_container">
		{{> programLeftCol}}
		<div class="col30">
			{{#each track}}
				<div class="programBoxFull color1" >
					{{title}}
				</div>
				<div class="programBoxText" >
					{{{article}}}
					<br>
					<br>
					<a href="#" onclick="history.back();">{{> text_terugProg}}</a>
				</div>
			{{/each}}
		</div>
   </div>
</template>
