<!-- symposium -->

<!-- /main -->
<template name="symposium">
    <div class="RD_container">
			{{> symposiumLeftCol}}
      <div class='col30 tracksHolder'>
				{{#each item}}
					<div class="programBox {{trackPos}} color{{trackType}} btn" style='top: {{top}}px; height: {{height}}px;' >
						<p>{{screenText}}</p>
					</div>
				{{/each}}
			</div>
    </div>
</template>


<!-- col Left -->
<template name="symposiumLeftCol">
      <div class="col20">
				{{#each page}}
					<h1>{{title}}</h1>
					<script>renderCufont();</script>
					{{{homeTextL}}}
				{{/each}}

				{{> registerBtn}}

        <div class='legendaSample color0'>
          {{> text_Algemeen}}
        </div>
        <div class='legendaSample color1'>
          {{> text_PlenaireSessie}}
        </div>
        <div class='legendaSample color2'>
          {{> text_TrackLivingLabs}}
        </div>
        <div class='legendaSample color3'>
          {{> text_TrackMarktImplementatie}}
        </div>

      </div>
</template>


<!-- /main/x -->
<template name="symposium_slug1">
    <div class="RD_container">
			{{> symposiumLeftCol}}
      <div class='col30'>
				{{#each item}}
					<div class="programBoxFull color{{trackType}}">
						<p>{{screenText}}</p>
					</div>

					<div class="programBoxText" >
						{{{article}}}
						<br>
						<br>
						<a href="#" onclick="history.back();">{{> text_terugProg}}</a>
					</div>

				{{/each}}
				</div>
    </div>
</template>
