<!-- symposium -->

<template name="symposiumCms">
	{{cmsTabs}}
	{{> cmsPage}}
</template>


<template name="cmsSymposiumPage">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListA}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>

<template name="cmsSymposiumTrack">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListB}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>

<template name="cmsSymposiumRegistration">
	{{> cmsEdit_symposiumRegistration}}
</template>
