<!-- about -->

<template name="aboutCms">
	{{cmsTabs}}
	{{> cmsPage}}
</template>


<template name="cmsAboutPages">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListB}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>

