<!-- about -->

<!-- /main -->
<template name="about">
    <div class="RD_container">
      <div class="col30">
				{{#each item}}
					<h1>
						{{title}}
					</h1>
					<script>renderCufont();</script>

					<p class='newsShort'>
						{{{article}}}
					</p> 
				{{/each}}
			</div>
      <div class="col20">
				{{> newsListX5}}
      </div>
    </div>
</template>


<!-- /main/x -->
<template name="about_slug1">
    <div class="RD_container">
      <div class="col30">
				{{#each item}}
					<h1>
						{{title}}
					</h1>
					<script>renderCufont();</script>

					<p class='newsShort'>
						{{{article}}}
					</p> 
				{{/each}}
			</div>
      <div class="col20">
				{{> newsListX5}}
      </div>
    </div>
</template>


