
<template name="aboutList">
		{{#if show}}
			{{#each item}}
				<div href='{{pathFor myUrl}}' class='aboutBtn {{classSelected}} navLevel2'>
					{{title}}
				</div>
			{{/each}}
		{{else}}
		{{/if}}
</template>
