<!-- footer ............................... -->

<template name="footer">
	<footer>
		<div id="footer">
			<div class="container">
				
				<div class="left">
					<p>&copy; 2015 Brainport Development</p>

					<a href="http://www.brainportdevelopment.nl/" target="_blank">
						<img class='footerLogo' src="/images_RD/logos_footer/footer_logos/01_brainport.png" />
					</a>
					
					<a href="https://www.brabant.nl/" target="_blank">
						<img class='footerLogo' src="/images_RD/logos_footer/footer_logos/02_prov_nb.gif" />
					</a>
					
					<a href="http://www.brabantsmartsolutions.com/" target="_blank">
						<img class='footerLogo' src="/images_RD/logos_footer/footer_logos/03_smart.png" />
					</a>
					
					<a href="http://engaged-innovation.eu/" target="_blank">
						<img class='footerLogo' src="/images_RD/logos_footer/footer_logos/04_engaged.gif" />
					</a>
					
					<a href="http://www.e-ucare.eu/en" target="_blank">
						<img class='footerLogo' src="/images_RD/logos_footer/footer_logos/05_eUcare.png" />
					</a>
					
				</div>
				
				<div class="right clearfix">
					<a href="http:/www.nweurope.eu" target="_blank">
						<img src="/images/interreg_ivb.jpg" />
					</a>
				</div>
				
				
			</div>
		</div>
	</footer>
	<!--
	-->
</template>








<template name="footer_">
	<footer>
		<div id="footer">
			<div class="container">
				
				
				<div class="left">
					<p>&copy; 2015 Brainport Development</p>

					<a href="http://www.e-ucare.eu/en">
						<img class='footerLogo' src="/images_RD/logos_footer/e-Ucare_logo_General2.png" />
					</a>
					<a href="http://engaged-innovation.eu/">
						<img class='footerLogo' src="/images_RD/logos_footer/engaged-def%20copy.png" />
					</a>
					<a href="https://www.brabant.nl/">
						<img class='footerLogo' src="/images_RD/logos_footer/logo-provincie-noord-brabant.large%20copy.png" />
					</a>
					
				</div>
				
				<div class="right clearfix">
					<a href="http://www.brainportdevelopment.nl/">
						<img src="/images/BP_logo_zwart.gif" />
					</a>
					<a href="http:/www.nweurope.eu">
						<img src="/images/interreg_ivb.jpg" />
					</a>
				</div>
				
				
				
				
			</div>
		</div>
	</footer>
	<!--
	-->
</template>









<template name="footer__">
	<footer>
		<div id="footer">
			<div class="container">
				<div class="left">
					<p>This website is an initiative by <a href="http://www.brainportdevelopment.nl/" target="_blank">Brainport Development</a></p>
					<p>&copy; 2015 All rights reserved</p>
				</div>
				<div class="right clearfix">
					<a href="http://www.brainportdevelopment.nl/">
						<img src="/images/BP_logo_zwart.gif" />
					</a>
					<a href="http:/www.nweurope.eu">
						<img src="/images/interreg_ivb.jpg" />
					</a>
				</div>
			</div>
		</div>
	</footer>
	<!--
	-->
</template>

