<!-- contact -->

<template name="contactCms">
	{{cmsTabs}}
	{{> cmsPage}}
</template>








<template name="cmsContactPage">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListA}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>

