<head>
	<meta charset="UTF-8">
	<title>Think Dementia! NatLab Eindhoven on June 3, 2015</title>
	<meta
		name="description"
		id="description"
		content="Think Dementia! is het eindevenement van het Interreg IVB project Innovate Dementia en vindt plaats tijdens de Dutch Technology Week 2015."
	>

	<meta property="og:site_name" 	content="Think Dementia!" />
	<meta property="og:url" 				content="http://thinkdementia.innovatedementia.eu" />

	<meta property="og:title" 			content="Think Dementia! NatLab Eindhoven on June 3, 2015" />
	<meta property="og:description" content="Think Dementia! is het eindevenement van het Interreg IVB project Innovate Dementia en vindt plaats tijdens de Dutch Technology Week 2015." />

	<!-- Polyfill for IE<10 -->
	<script src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>

	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52e579bc6a1e3f4c" async="async"></script>

	<script src="/flexslider/jquery.flexslider-min.js"></script>
	<script src="/jquery-ui-1.11.4.custom/jquery-ui.js"></script>

	<!-- Innovate Dementia -->
	<link href="http://www.innovatedementia.eu/assets/js/libs/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
	<script src="http://www.innovatedementia.eu/assets/js/libs/cufon-yui.js"></script>
	<script src="http://www.innovatedementia.eu/assets/js/MiloOT-Light_350.font.js"></script>
	<script src="http://www.innovatedementia.eu/assets/js/MiloSerifOT-Medi_500.font.js"></script>

	<script type="text/javascript">
		Cufon.replace('.imgwrapper .content, .titlelook, .listbox-inside a.siteurl, .listbox-inside h5', { fontFamily: 'MiloSerifOT-Medi' });
		Cufon.replace('.cufstyle', { fontFamily: 'MiloSerifOT-Medi',	hover: { color: 'black'	}});
		Cufon.replace('.agenda li a, .news li a', { fontFamily: 'MiloSerifOT-Medi',	hover: { color: 'black'	}});
		Cufon.replace('#menu2 > ul > li', { fontFamily: 'MiloOT-Light' , hover : true, hoverables: { li: true }, ignore: { ul: true } });
		Cufon.replace('#menu2 li.main ul li a', { fontFamily: 'MiloOT-Light',	hover: { color: 'white'	} });
		Cufon.replace('#menu2 li a.left-active, #menu li a.active, #menu li a.right-active', { fontFamily: 'MiloOT-Light'});
		Cufon.replace('h1, h2, .datebox p, .datebox p span, a.send', { fontFamily: 'MiloOT-Light'});
	</script>

	<script type="text/javascript" src="/back/ckeditor/ckeditor.js"></script>

</head>
