<!-- sitemap -->
<template name="sitemap">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
			

			<!--
				{{#each page}}
					{{pathFor myUrl}}<br>
					
					{{#each group}}
						{{pathFor ../myUrl}}|{{slug}}<br>
							{{#each itemGrp ..}}
								{{pathFor ../../myUrl}}|{{../slug}}|{{slug}}<br>
							{{/each}}
					{{/each}}
					
					{{#each item}}
						{{pathFor ../myUrl}}|{{slug}}<br>
					{{/each}}
					
				{{/each}}
			-->



    	<div id="tekst-links" style="text-align:left; margin-left:50px; width:360px;">
        <h1>Sitemap</h1>
        <ul>
					{{#each page}}
						<li><a href="{{pathFor myUrl}}">{{buttonName}}</a></li>
						
							<ul>
								{{#each group}}
									<li><a href="{{pathFor ../myUrl}}/{{slug}}">{{groupName}}</a>
										<ul>
											{{#each itemGrp ..}}
												<li><a href="{{pathFor ../../myUrl}}/{{../slug}}/{{slug}}">{{title}}</a></li>
											{{/each}}
										</ul>
									</li>
								{{/each}}
							</ul>
							
							<ul>
								{{#each item}}
									<li><a href="{{pathFor ../myUrl}}/{{slug}}">{{title}}</a></li>
								{{/each}}
							</ul>
					
					{{/each}}
        </ul>
    	</div>



			<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>


