
<template name="cmsEdit_title">
	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_title' value={{title}} class='input-small' type='text' maxlength='120'>
	</div>
	{{> cmsUpdate updateStatus}}
</template>
