
<!-- Datepicker -->
<template name="cmsPikaday">
		<div id='datepicker' class='itemlabel'>Date</div>
		<div class='itemfield'>
			<div id='datepickerBtn' class='btn action blue'>Choose date</div>
			<!--&nbsp;&nbsp;&nbsp;{{dateYear}}&nbsp;-&nbsp;{{dateMonth}}&nbsp;-&nbsp;{{dateDay}}-->
			&nbsp;&nbsp;&nbsp;{{dateNice}}
		</div>
</template>

