
<!-- item front (exposities en publicaties) -->
<template name="cmsEdit_itemFront">
	<div class='itemlabel'>Date</div>
	<div class='itemfield'>
		<input id='input_dateText' value={{dateText}} class='input-small' maxlength='120' type='text'>
	</div>
	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_title' value={{title}} class='input-small' maxlength='120' type='text'>
	</div>
	<div class='itemlabel'>Subtitle</div>
	<div class='itemfield'>
		<input id='input_subTitle' value={{subTitle}} class='input-small' maxlength='120' type='text'>
	</div>
	{{> cmsUpdate updateStatus}}
</template>


<!-- item front (product) -->
<template name="cmsEdit_itemProduct">
	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_title' value={{title}} class='input-small' maxlength='120' type='text'>
	</div>
	<div class='itemlabel'>Subtitle</div>
	<div class='itemfield'>
		<input id='input_subTitle' value={{subTitle}} class='input-small' maxlength='120' type='text'>
	</div>
	{{> cmsUpdate updateStatus}}
</template>


<!-- item photo -->
<template name="cmsEdit_itemPhoto">
	{{> cmsEdit_imageUpload_thumb}}
</template>


<!-- item detail (exposities en publicaties) -->
<template name="cmsEdit_itemDetail">
	<div class='itemlabel-low'>Show</div>
	<div class='itemfield-low'>
		<input id='input_show' {{detailShow}} class='checkbox' type='checkbox'>
	</div>
	<div class='itemlabel'>Linker kolom</div>
	<div class='itemfield'>
		<textarea id='input_textL' class='article'>{{detailL}}&nbsp;</textarea>
		<script>placeCKeditor('input_textL');</script>
	</div>
	<div class='itemlabel'>Rechter kolom</div>
	<div class='itemfield'>
		<textarea id='input_textR' class='article'>{{detailR}}&nbsp;</textarea>
		<script>placeCKeditor('input_textR');</script>
	</div>
	{{> cmsUpdate updateStatus}}
</template>


<!-- item detail (product) -->
<template name="cmsEdit_itemProductDetail">
	<div class='itemlabel'>Linker kolom</div>
	<div class='itemfield'>
		<textarea id='input_textL' class='article'>{{detailL}}&nbsp;</textarea>
		<script>placeCKeditor('input_textL');</script>
	</div>
	<div class='itemlabel'>Rechter kolom</div>
	<div class='itemfield'>
		<textarea id='input_textR' class='article'>{{detailR}}&nbsp;</textarea>
		<script>placeCKeditor('input_textR');</script>
	</div>
	{{> cmsUpdate updateStatus}}
</template>

