

<!-- item slides -->
<template name="cmsEdit_itemSlides">

	{{checkSelected}}
	
	<div class='itemlabel'>&nbsp;</div>
	<div class='itemfield'>
		<div class='btn action blue fileUploadWrap'>
			Upload image
			<input type='file' id='fileUploader' class='fileUpload'>
		</div>
		<span class='itemfield-remarks'>
			&nbsp;Afmeting: 540 x 300 pixels.<br>
		</span>
	</div>


	
	
	{{#if slidesShow}}

		<div class='itemlabel'>Slide</div>
		<div class='itemfield'>
			<div class='btn-bar'>
				{{#each slideList}}
					<div class='btn btnSlideNum {{active}}'>{{number}}</div>
				{{/each}}
				&nbsp;
			</div>
		</div>

		<div class='items_spacer'></div>
		
		{{#each image}}
			<div class='itemlabel'>&nbsp;</div>
			<div class='itemfield'>
				{{#if isUploaded}}
					<img src="{{this.url store='imagesSlide'}}" width='444'/><br>
					{{this.name}}<br>
				{{else}}
					<div class="spinnerCfsUpload"></div>
					<br>
					Uploading...
				{{/if}}
			</div>
		{{/each}}

		<div class='itemlabel'>&nbsp;</div>
		<div class='itemfield'>
			<div class='btn action red btnDelSlide'>&Cross;</div>
		</div>

	{{/if}}
	
</template>

