<!-- Bewustwording title -->

<template name="cmsEdit_bewustwordingTitle">

	<div class='itemlabel'>Name</div>
	<div class='itemfield'>
		<input id='input_title' value={{title}} class='input-small' maxlength='50' type='text'>
	</div>

	<div class='itemlabel'>Screen text</div>
	<div class='itemfield'>
		<input id='input_screenText' value={{screenText}} class='input-small' maxlength='150' type='text'>
	</div>

	{{> cmsUpdate updateStatus}}
	
	<!-- Start End -->
	<div class='itemlabel'>Start</div>
	<div class='itemfield'>
		<div class='btn-bar'>
			{{#each startHours}}
				<div class='btn btnStartHour btnSlideNumSmall {{active}}'>{{text}}</div>
			{{/each}}
			&nbsp;:&nbsp;
			{{#each startQuarters}}
				<div class='btn btnStartQuarter btnSlideNumSmall {{active}}'>{{text}}</div>
			{{/each}}
		</div>
	</div>
	
	<div class='itemlabel'>End</div>
	<div class='itemfield'>
		<div class='btn-bar'>
			{{#each endHours}}
				<div class='btn btnEndHour btnSlideNumSmall {{active}}'>{{text}}</div>
			{{/each}}
			&nbsp;:&nbsp;
			{{#each endQuarters}}
				<div class='btn btnEndQuarter btnSlideNumSmall {{active}}'>{{text}}</div>
			{{/each}}
		</div>
	</div>

	<!-- Legenda -->
	<div class='itemlabel'>Legenda</div>
	<div class='itemfield'>
		{{#each trackTypes}}
			<div class='legendaSample {{selected}} {{color}} btnTrackType'>
				<p>{{name}}</p>
			</div>
		{{/each}}
		&nbsp;
	</div>

	<!-- Reg -->
	<!--
	<div class='itemlabel'>Open for registration</div>
	<div class='itemfield'>
		<input id='input_openReg' {{openReg}} class='checkbox' type='checkbox'>
	</div>
	-->
	
</template>


