<!-- Program description: for symposium and bewustwording-->

<template name="cmsEdit_programDescription">

	<div class='itemlabel'>Article</div>
	<div class='itemfield'>
		<textarea id='input_article' class='article'>{{article}}&nbsp;</textarea>
		<script>placeCKeditor('input_article');</script>
	</div>
	
	{{> cmsUpdate updateStatus}}
	
</template>



<!-- Program description 2: for businessfair and satelliet-evenementen -->

<template name="cmsEdit_programDescription2">

	<div class='itemlabel'>Name</div>
	<div class='itemfield'>
		<input id='input_title' value={{title}} class='input-small' maxlength='50' type='text'>
	</div>

	<div class='itemlabel'>Article</div>
	<div class='itemfield'>
		<textarea id='input_article' class='article'>{{article}}&nbsp;</textarea>
		<script>placeCKeditor('input_article');</script>
	</div>
	
	{{> cmsUpdate updateStatus}}
	
</template>

