<!-- Symposium Registration -->

<template name="cmsEdit_symposiumRegistration">
	<div class='main-list-big'>

		<!-- tool bar ............................. -->

		{{#each list}}

			<!--
			-->
			<div id='exportCVS' class='btn action green'>Export</div>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

			Total: {{countTotal}}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input id='input_openReg' {{openReg}} class='checkbox' type='checkbox'>
			&nbsp;Open for registration
			<br><br><br>

		{{/each}}

		<div class='main-list-row label'>

			<!-- colums label ............................. -->
			<div class='big-list-col-4'>
				Datum
			</div>
			<div class='big-list-col-4'>
				Track voorkeur
			</div>
			<div class='big-list-col-4'>
				Naam
			</div>
			<div class='big-list-col-4'>
				Email
			</div>
			<div class='big-list-col-4'>
				Telefoon
			</div>
			<div class='big-list-col-4'>
				Bedrijf/organisatie
			</div>
			<div class='big-list-col-4'>
				Functie
			</div>
			<div class='big-list-col-4'>
				Nationaliteit
			</div>
			<div class='big-list-col-1'>
				Del
			</div>
		</div>

		<!-- colums value ............................. -->
		{{#each item}}
			<div class='main-list-row'>
				<div class='big-list-col-4'>
					{{timeTextDay}} {{timeTextTime}}
				</div>
				<div class='big-list-col-4'>
					{{trackVoorkeur}}
				</div>
				<div class='big-list-col-4'>
					{{naam}}
				</div>
				<div class='big-list-col-4'>
					{{email}}
				</div>
				<div class='big-list-col-4'>
					{{telefoon}}
				</div>
				<div class='big-list-col-4'>
					{{bedrijf}}
				</div>
				<div class='big-list-col-4'>
					{{functie}}
				</div>
				<div class='big-list-col-4'>
					{{nationaliteit}}
				</div>
				<div class='big-list-col-1'>
					<a href='#' class='delRegBtn'>&Cross;</a>
				</div>
			</div>
		{{/each}}

	</div>
</template>
