<!-- contact -->

<template name="contact">


	<div class="RD_container">
		<div class="col30">
			{{#each page}}
				<h1>{{title}}</h1>
				<script>renderCufont();</script>

				<p class='newsShort'>
					{{{article}}}
				</p>
			{{/each}}

			{{> contactBtn}}

		</div>
		<div class="col20">
			{{> newsListX3}}
			{{> twitterFeed}}
		</div>
	</div>

</template>
