<template name="cmsPage">

	<!-- nav tabs -->
	{{> cmsTabs}}

	<!-- tab page -->
	{{#if is_equal cmsEditName 'cmsHomePage'}} 						{{> cmsHomePage}} {{/if}}
	{{#if is_equal cmsEditName 'cmsHomeSlider'}} 					{{> cmsHomeSlider}} {{/if}}

	{{#if is_equal cmsEditName 'cmsSymposiumPage'}} 					{{> cmsSymposiumPage}} {{/if}}
	{{#if is_equal cmsEditName 'cmsSymposiumTrack'}} 					{{> cmsSymposiumTrack}} {{/if}}
	{{#if is_equal cmsEditName 'cmsSymposiumRegistration'}} 	{{> cmsSymposiumRegistration}} {{/if}}

	{{#if is_equal cmsEditName 'cmsBewustwordingPage'}} 					{{> cmsBewustwordingPage}} {{/if}}
	{{#if is_equal cmsEditName 'cmsBewustwordingTrack'}} 					{{> cmsBewustwordingTrack}} {{/if}}
	{{#if is_equal cmsEditName 'cmsBewustwordingRegistration'}} 	{{> cmsBewustwordingRegistration}} {{/if}}

	{{#if is_equal cmsEditName 'cmsProgramTrack'}} 	{{> cmsProgramTrack}} {{/if}}
	{{#if is_equal cmsEditName 'cmsProgramPage'}} 	{{> cmsProgramPage}} {{/if}}
	{{#if is_equal cmsEditName 'cmsNewsPosts'}} 		{{> cmsNewsPosts}} {{/if}}
	{{#if is_equal cmsEditName 'cmsAboutPages'}} 		{{> cmsAboutPages}} {{/if}}
	{{#if is_equal cmsEditName 'cmsContactMain'}} 	{{> cmsContactMain}} {{/if}}

	<!-- footer -->
	<div id='main-footer'>
		CMS 2015
	</div>

</template>
