
<!--
	Show Update button under item
	Defined by parent:
		title (text in button)
		class (set to disabled if needed)
		buttonId of the current item
-->

<template name='cmsUpdate'>
	<div class='itemlabel'>&nbsp;</div>
	<div class='itemfield'>
		<div id='update' class='btn large action {{classActive}} green'>{{title}}</div>
		&nbsp;
	</div>
</template>


<template name='cmsDeleteUpdate'>
	<br/><br/><br/><br/>
	<div class='item'>
		<br/><br/><br/><br/>
		<div class='itemlabel'>
			<h3>&nbsp;</h3>
		</div>
		<div class='itemfield'>
			<div id='delete' class='btn icon action'>Delete</div>
			<div id='update' class='btn large action {{classActive}} green'>{{title}}</div>
			&nbsp;
		</div>
	</div>
</template>


<!-- Up/Down buttons in list -->
<template name='cmsButtonsUpDown'>
	<div id='btnListUp' 	class='btn icon action narrow'>&utrif;</div>
	<div id='btnListDown' class='btn icon action narrow'>&dtrif;</div>
</template>


<!-- Delete Button in list -->
<template name='cmsListDelete'>
	<div id='listDelete' class='btn icon red action {{classActive}}'>&Cross;</div>
</template>
