
<template name="cmsEdit_contactText">

	<div class='itemlabel'>Adress</div>
	<div class='itemfield'>
		<!--
		<textarea id='input_title' class='seoDescr' rows='6' maxlength='800'>{{title}}</textarea>
		-->
		<textarea id='input_title' class='article'>{{title}}&nbsp;</textarea>
		<script>placeCKeditor('input_title');</script>
		
	</div>


	
	
	{{> cmsUpdate updateStatus}}
	
</template>



<template name="cmsEdit_contactPhoto">
	{{> cmsEdit_imageUpload_photo_contact}}
</template>

