<!-- form contact............................... -->

<template name="formContact">
	<div class="popupHolder">
		<div class="Popup">
			<a href="" class="btnPopupClose btnCancel" aria-hidden="true">&Cross;</a>
			<h1>{{> text_formContactTitle}}</h1>
			<script>renderCufont();</script>
			{{> text_formContactText}}

			<div class='PopupRow'>
				<span class='inputLabel'>{{> text_formNaam}}</span>
				<input id="naam" name="voornaam" type="text" class="inputField" placeholder="" autocomplete="off">
			</div>
			<br>
			<br>

			<div class='PopupRow'>
				<!--<span class='inputLabel'>Email*<br><br> en/of</span>-->
				<span class='inputLabel'>{{> text_formEmail}}*</span>
				<input id="email" name="voornaam" type="text" class="inputField" placeholder="" autocomplete="off">
			</div>
					&nbsp;&nbsp;
					en/of
			<div class='PopupRow'>
				<span class='inputLabel'>{{> text_formTelefoon}}*</span>
				<input id="telefoon" name="voornaam" type="text" class="inputField" placeholder="" autocomplete="off">
			</div>
			<br>
			<br>

			<div class='PopupRow'>
				<span class='inputLabel'>{{> text_formOpm}}*</span>
				<textarea
					id="opmerkingen"
					class="inputField"
					name="opmerkingen"
					value=""
					cols="45" rows="5"
					autocomplete="off">
				</textarea>
			</div>

			<input name="submit" type="submit" class="mainActionButton" id="submitContactForm" value="{{text_formContactZend}}" />

		</div>
	</div>
</template>



<!-- text UI ............................... -->

<template name="text_formContactTitle">
	{{#if is_equal frontLanguageHelper 0}}
		Neem contact op
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}
		Contact us
	{{/if}}
</template>

<template name="text_formContactText">
	{{#if is_equal frontLanguageHelper 0}}
		<p>
			Voor vragen, suggesties, opmerkingen of ideeën kunt u contact opnemen. Laat uw bericht achter en u krijgt zo snel mogelijk een reactie.
		</p>
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}
		<p>
			You can contact us for questions, suggestions, comments or ideas. Leave a message and we will contact you as soon as possible regarding your submitted message.
		</p>
	{{/if}}
</template>
