<!-- form symposium ............................... -->

<template name="formAwa">
    <div class="popupHolder">
      <div class="Popup">
        <a href="" class="btnPopupClose btnCancel" aria-hidden="true">&Cross;</a>

				<h1>{{> text_formAwaTitle}}</h1>
				<script>renderCufont();</script>
        {{> text_formAwaText}}

        <div class='PopupRow'>
          <span class='inputLabel'>{{> text_formNaam}}</span>
          <input id="naam" name="naam" type="text" class="inputField" placeholder="" autocomplete="off">
        </div>
        <br>

        <div class='PopupRow'>
          <span class='inputLabel'>{{> text_formEmail}}*</span>
          <input id="email" name="email" type="text" class="inputField" placeholder="" autocomplete="off">
        </div>
					<!--<br>-->
            &nbsp;&nbsp;
            en/of


        <div class='PopupRow'>
          <span class='inputLabel'>{{> text_formTelefoon}}*</span>
          <input id="telefoon" name="telefoon" type="text" class="inputField" placeholder="" autocomplete="off">
        </div>
        <br>

        <input
					id='formSympSubmit'
					name="submit"
					type="submit"
					class="mainActionButton"
					value="{{text_formSympZend}}" />
      </div>
    </div>

</template>


<!-- text UI ............................... -->

<template name="text_formAwaTitle">
	{{#if is_equal frontLanguageHelper 0}}
		Registreer voor awareness
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}
		Register for awareness
	{{/if}}
</template>

<template name="text_formAwaText">
	{{#if is_equal frontLanguageHelper 0}}
		<p>
			U meldt zich nu aan voor:<br>{{screenText}}<br>
			Aanmelding geldt enkel voor dit programmaonderdeel.
			Registraties worden op volgorde van binnenkomst behandeld.
			U ontvangt een bevestigingsmail wanneer uw registratie definitief is gemaakt.
		</p>
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}
		<p>
			You are now signing up for:<br>{{screenText}}<br>
			This registration only applies to this session.
			Registrations are being handled on a ´first come first serve´ basis.
			You will receive a confirmation email once your registration is being accepted.
		</p>
	{{/if}}
</template>
