

<template name="text_formNaam">
	{{#if is_equal frontLanguageHelper 0}} Naam {{/if}}
	{{#if is_equal frontLanguageHelper 1}} Name {{/if}}
</template>

<template name="text_formEmail">
	{{#if is_equal frontLanguageHelper 0}} Email {{/if}}
	{{#if is_equal frontLanguageHelper 1}} Email {{/if}}
</template>

<template name="text_formTelefoon">
	{{#if is_equal frontLanguageHelper 0}} Telefoon {{/if}}
	{{#if is_equal frontLanguageHelper 1}} Phone {{/if}}
</template>

<template name="text_formBedrijf">
	<!--
	{{#if is_equal frontLanguageHelper 0}} Bedrijf&nbsp;/<br>organisatie {{/if}}
	{{#if is_equal frontLanguageHelper 1}} Company&nbsp;/<br>organisation {{/if}}
	-->
	{{#if is_equal frontLanguageHelper 0}} Bedrijf/org {{/if}}
	{{#if is_equal frontLanguageHelper 1}} Company/org {{/if}}
</template>

<template name="text_formFunctie">
	{{#if is_equal frontLanguageHelper 0}} Functie {{/if}}
	{{#if is_equal frontLanguageHelper 1}} Function {{/if}}
</template>

<template name="text_formNationaliteit">
	{{#if is_equal frontLanguageHelper 0}} Nationaliteit {{/if}}
	{{#if is_equal frontLanguageHelper 1}} Nationality {{/if}}
</template>

<template name="text_formOpm">
	{{#if is_equal frontLanguageHelper 0}} Opmerkingen /<br>Vragen {{/if}}
	{{#if is_equal frontLanguageHelper 1}} Comments /<br>Questions{{/if}}
</template>
