<!-- form symposium ............................... -->

<template name="formSymposium">
    <div class="popupHolder">
      <div class="Popup">
        <a href="" class="btnPopupClose btnCancel" aria-hidden="true">&Cross;</a>
        <h1>{{> text_formSympTitle}}</h1>
				<script>renderCufont();</script>
        {{> text_formSympText}}
				
				<p>
          {{> text_formSympVoorkeur}}<br><br>
          <input type="radio" name="trackVoorkeur" value="Living Labs">
          &nbsp;{{> text_formSympVoorkeur1}}
          <br>
          <input type="radio" name="trackVoorkeur" value="Implementatie">
          &nbsp;{{> text_formSympVoorkeur2}}
          <br>
          <input type="radio" name="trackVoorkeur" value="Geen voorkeur" checked>
          &nbsp;{{> text_formSympVoorkeur3}}
          <br>
        <br>
				</p>
				<!--<div id='test'> TEST </div><br>-->
				
				
				
        <div class='PopupRow'>
          <span class='inputLabel'>{{> text_formNaam}}*</span>
          <input id="naam" name="naam" type="text" class="inputField" placeholder="" autocomplete="off">
        </div>
        <br>
        
        <div class='PopupRow'>
          <span class='inputLabel'>{{> text_formEmail}}*</span>
          <input id="email" name="email" type="text" class="inputField" placeholder="" autocomplete="off">
        </div>
        <br>

        <div class='PopupRow'>
          <span class='inputLabel'>{{> text_formTelefoon}}</span>
          <input id="telefoon" name="telefoon" type="text" class="inputField" placeholder="" autocomplete="off">
        </div>
        <br>
        
        <div class='PopupRow'>
          <span class='inputLabel'>{{> text_formBedrijf}}*</span>
          <input id="bedrijf" name="bedrijf" type="text" class="inputField" placeholder="" autocomplete="off">
        </div>
        <br>

        <div class='PopupRow'>
          <span class='inputLabel'>{{> text_formFunctie}}</span>
          <input id="functie" name="functie" type="text" class="inputField" placeholder="" autocomplete="off">
        </div>
        <br>
				
				<div class='PopupRow'>
          <span class='inputLabel'>{{> text_formNationaliteit}}</span>
          <select 
            class="crs-country" 
            data-default-value="Netherlands"
          ></select>
					<script>crs.init();</script>
        </div>
        <br>
        
        <input 
					id='formSympSubmit' 
					name="submit" 
					type="submit" 
					class="mainActionButton" 
					value="{{text_formSympZend}}" />
      </div>
    </div>
		
</template>


<!-- text UI ............................... -->

<template name="text_formSympTitle">
	{{#if is_equal frontLanguageHelper 0}}  
		Registreer voor conference
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		Register for conference
	{{/if}}
</template>

<template name="text_formSympText">
	{{#if is_equal frontLanguageHelper 0}}  
		<p>
			U meldt zich nu aan voor de gehele Conference. Registraties worden op volgorde van binnenkomst behandeld. U ontvangt een bevestigingsmail wanneer uw registratie definitief is gemaakt.
		</p>
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		<p>
			You are now signing up for the Conference. Registrations are being handled on a ´first come first serve´ basis. You will receive a confirmation email once your registration is being accepted.
		</p>
	{{/if}}
</template>


<template name="text_formSympVoorkeur">
	{{#if is_equal frontLanguageHelper 0}}  
		Ik wil graag deelnemen aan de volgende track:
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		I would like to participate in the following track:
	{{/if}}
</template>

<template name="text_formSympVoorkeur1">
	{{#if is_equal frontLanguageHelper 0}}  
		Track Living Labs
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		Track Living Labs
	{{/if}}
</template>

<template name="text_formSympVoorkeur2">
	{{#if is_equal frontLanguageHelper 0}}  
		Track Implementatie
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		Track Implementatie
	{{/if}}
</template>

<template name="text_formSympVoorkeur3">
	{{#if is_equal frontLanguageHelper 0}}  
		Geen voorkeur
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		No preference
	{{/if}}
</template>

