<!-- form Conf thanks ............................... -->

<template name="formThanks">
    <div class="popupHolder">
      <div class="Popup">
        <a href="" class="btnPopupClose btnCancel" aria-hidden="true">&Cross;</a>
        <h1>{{> text_formThanksTitle}}</h1>
				<script>renderCufont();</script>
        {{> text_formThanksText}}
				
        <input 
					id='formSympSubmit' 
					name="submit" 
					type="submit" 
					class="mainActionButton" 
					value="{{text_formThanksZend}}" />

      </div>
    </div>
</template>

<template name="text_formThanksTitle">
	{{#if is_equal frontLanguageHelper 0}}  
		Dank voor uw registratie.
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		Thank you for registering. 
	{{/if}}
</template>

<template name="text_formThanksText">
	{{#if is_equal frontLanguageHelper 0}}  
		<p>
			Uw registratie is verzonden. Registraties worden op volgorde van binnenkomst behandeld. U ontvangt een bevestigingsmail wanneer uw registratie definitief is gemaakt.
		</p>
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		<p>
			Your registration has been sent. Registrations are being handled on a ´first come first serve´ basis. You will receive a confirmation email once your registration is being accepted.
		</p>
	{{/if}}
</template>



<!-- form Awa thanks ............................... -->

<template name="formAwaThanks">
    <div class="popupHolder">
      <div class="Popup">
        <a href="" class="btnPopupClose btnCancel" aria-hidden="true">&Cross;</a>
        <h1>{{> text_formAwaThanksTitle}}</h1>
				<script>renderCufont();</script>
        {{> text_formAwaThanksText}}
				
        <input 
					id='formSympSubmit' 
					name="submit" 
					type="submit" 
					class="mainActionButton" 
					value="{{text_formThanksZend}}" />

      </div>
    </div>
</template>

<template name="text_formAwaThanksTitle">
	{{#if is_equal frontLanguageHelper 0}}  
		Dank voor uw registratie.	
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		Thank you for registering. 
	{{/if}}
</template>

<template name="text_formAwaThanksText">
	{{#if is_equal frontLanguageHelper 0}}  
		<p>
			Uw registratie is verzonden. Registraties worden op volgorde van binnenkomst behandeld. U ontvangt een bevestigingsmail wanneer uw registratie definitief is gemaakt.
		</p>
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		<p>
			Your registration has been sent. Registrations are being handled on a ´first come first serve´ basis. You will receive a confirmation email once your registration is being accepted.
		</p>
	{{/if}}
</template>



<!-- form Contact thanks ............................... -->

<template name="formContactThanks">
    <div class="popupHolder">
      <div class="Popup">
        <a href="" class="btnPopupClose btnCancel" aria-hidden="true">&Cross;</a>
        <h1>{{> text_formContactThanksTitle}}</h1>
				<script>renderCufont();</script>
        {{> text_formContactThanksText}}
				
        <input 
					id='formSympSubmit' 
					name="submit" 
					type="submit" 
					class="mainActionButton" 
					value="{{text_formThanksZend}}" />

      </div>
    </div>
</template>

<template name="text_formContactThanksTitle">
	{{#if is_equal frontLanguageHelper 0}}  
		Dank voor uw ingezonden bericht.	
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		Thank you for submitting your message.	
	{{/if}}
</template>

<template name="text_formContactThanksText">
	{{#if is_equal frontLanguageHelper 0}}  
		<p>
			Uw bericht is verzonden.
		</p>
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		<p>
			Your message has been sent.
		</p>
	{{/if}}
</template>



