<!-- List Bewustwording		singleSlug  	/main/item ------------------------------------ -->

<template name="cmsListBewustwording">
	<div class='list'>
		<h3>Sessions</h3>
		{{#each list}}
			<div class='btn col {{listSelected}} listBtn'>{{title}}</div>
		{{/each}}
	</div>
</template>

