
<!-- List slider -------------------------------------------------------------------------- -->

<template name="cmsList_slider">
	<div class='list'>
		<h3>Slides</h3>
		<div id='listAdd' class='btn icon action blue'>+</div>
		{{#if addDialogShow}}
			{{> cmsBlogAdd}}
		{{/if}}
		{{#if upDownShow}}
			{{> cmsButtonsUpDown moveSatus}}
		{{/if}}
		{{> cmsListDelete deleteStatus}}
		{{#each list}}
			<div class='btn col {{listSelected}} listBtn'>{{title}}</div>
		{{/each}}
	</div>
</template>
