
<!-- List hili -------------------------------------------------------------------------- -->

<template name="cmsList_hili">
	<div class='list'>
		<h3>Highlights</h3>
		<div id='listAdd' class='btn icon action blue'>+</div>
		{{> cmsButtonsUpDown moveSatus}}	
		{{> cmsListDelete deleteStatus}}
		{{#each list}}
			<div class='btn col {{listSelected}} listBtn'>{{hiliTitle}}</div>
		{{/each}}
	</div>
</template>

