@import url(http://fonts.googleapis.com/css?family=Oxygen);



/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { color: #222; font-family: sans-serif; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #6c1b1d; color: #fff; text-shadow: none; }
::selection { background: #6c1b1d; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #000; outline: 0; }
a:visited { color: #000; }
a:hover { color: #de1818; }
a:focus { }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; margin: 1em 0; padding: 0; height: 1px; border: 0; border-top: 1px solid #ccc; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-weight: bold; font-style: italic; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-size: 1em; font-family: monospace, serif; _font-family: 'courier new', monospace; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { position: relative; vertical-align: baseline; font-size: 75%; line-height: 0; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { margin: 0; padding: 0; list-style: none; list-style-image: none; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { margin: 0; padding: 0; border: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { padding: 0; border: 0; white-space: normal; *margin-left: -7px; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { margin: 0; vertical-align: baseline; font-size: 100%; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-spacing: 0; border-collapse: collapse; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; padding: 0.2em 0; background: #ccc; color: black; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

/*	 
@import url(http://fonts.googleapis.com/css?family=Oxygen);
*/










/* RESET CSS 
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; outline: none; border: 0; }
	:focus { outline: 0; }
	body { font-family: Arial; line-height: 1; }
	ul, ol 	{ margin-left: 15px; padding-left: 0px; color: #000; font-size: 12px; font-family: Arial; line-height: 17px;}
	table { border-spacing: 0;	border-collapse: separate; }
	caption, th, td { font-weight: normal; }
	blockquote:before, blockquote:after, q:before, q:after { content: ""; }
	blockquote, q {	quotes: "" ""; }
	input[type="submit"]::-moz-focus-inner { border:0; }
	textarea { resize:none; }
 END RESET CSS */


/* RESET CSS */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; outline: none; border: 0; }
	:focus { outline: 0; }
	body { font-family: Arial; line-height: 1; }
	
	
	
	ul, ol 	{ 
		/margin-left: 15px; 
		/margin-left: 45px; 
		/padding-left: 0px; 
		/color: #000; 
		/font-size: 12px; 
		/font-family: Arial; 
		/line-height: 17px;
	}
	
	
	
	
	table { border-spacing: 0;	border-collapse: separate; }
	caption, th, td { font-weight: normal; }
	blockquote:before, blockquote:after, q:before, q:after { content: ""; }
	blockquote, q {	quotes: "" ""; }
	input[type="submit"]::-moz-focus-inner { border:0; }
	textarea { resize:none; }
/* END RESET CSS */

















/* SPRITE */
	.sprite-logo { width: 330px; height: 180px; background-position: -10px -0px; }
	.sprite-logo { 
    width: 198px; 
    height: 108px; 
    background-position: -10px -0px;
    margin: 20px 20px 0px 40px;
  }



	.sprite-textarea { width: 350px; height: 180px; background-position: -10px -190px; }
	.sprite-slider-transbg { width: 586px; height: 110px; background-position: -10px -380px; }
	.sprite-investing { width: 130px; height: 90px; background-position: -350px -0px; }
	.sprite-arrow-right { width: 26px; height: 70px; background-position: -490px -0px; }
	.sprite-agenda { width: 30px; height: 60px; background-position: -526px -0px; }
	.sprite-agenda-orange { width: 30px; height: 60px; background-position: -289px -550px;}
	.sprite-agenda-red { width: 30px; height: 60px; background-position: -526px -0px; }
	.sprite-agenda-blue { width: 30px; height: 60px; background-position: -566px -0px; }
	
	.sprite-project { bottom: -10px; display: block; height: 30px; left: 143px; position: absolute; width: 30px;}
	.sprite-project.more { background-image: url("../img/arrow_up.png"); background-position: center !important; background-repeat: no-repeat; }
	.sprite-project.less { background-image: url("../img/arrow_down.png"); background-position: center !important; background-repeat: no-repeat; }
	
	.sprite-input { width: 350px; height: 40px; background-position: -10px -500px; }
	.sprite-menu { width: 164px; height: 40px; background-position: -350px -100px; }
	.sprite-menu-left { width: 165px; height: 40px; background-position: -370px -190px; }
	.sprite-menu-right { width: 169px; height: 40px; background-position: -370px -240px; }
	.sprite-menu-left-over { width: 165px; height: 40px; background-position: -370px -290px; }
	.sprite-menu-over { width: 164px; height: 40px; background-position: -370px -500px; }
	.sprite-menu-right-over { width: 169px; height: 40px; background-position: -10px -550px; }
	.sprite-linkedin { width: 32px; height: 32px; background-position: -526px -70px; }
	.sprite-rss { width: 32px; height: 32px; background-position: -524px -112px; }
	.sprite-language-arrow { width: 110px; height: 30px; background-position: -350px -150px; }
	.sprite-search { width: 28px; height: 28px; background-position: -470px -150px; }
	.sprite-brainport-region { background-position: -189px -550px;; width: 90px; height: 90px; }
	.sprite-mailus { background-position: -10px -599px;; width: 14px; height: 16px; }
	.sprite-website { background-position: -33px -599px;; width: 14px; height: 16px; }
/* END SPRITE*/

/* TYPOGRAFIE CSS */
	p { font-size: 12px; line-height: 20px; }
	p.small { font-size: 11px; padding:0 20px !important; }
	a.cufstyle { display: block; color: #000; text-align: right; text-decoration: underline; }
	a.rss, a.linkedin { display: block; padding-left: 40px; width:280px; height: 32px; text-align: left; line-height: 24px; }
	a.rss { padding-bottom: 10px; }
	#footer .container p, #footer .container p a { color:#7f7f7f; }
/* END TYPOGRAFIE CSS */

/* MAIN CSS */
	* html { overflow-x: hidden; height:100%; }
	html, body {height: 100%;}
	#wrap {margin:0 auto; width:990px; min-height: 100%; position: relative;}
	body { padding-top:10px; background-color: #FFF; }
	#main { width:990px; padding-bottom: 126px;}
	.container { margin:0 auto; width:990px; }
	
	.logo { float:left; }
	.topright { float:left; padding-left: 74px; width:586px; height:30px; }
	.topright a.loginlink { float:right; margin-left:10px; padding:0 10px; width:72px; height:30px; color: #FFF; text-align: center; text-decoration: none; text-transform: uppercase; font-size: 12px; line-height: 30px; }
	.dropdown { float:right; margin-left: 10px; padding:0; width:110px; height:30px; list-style:none; line-height: 30px; }
	.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0; }
	.dropdown dd{ position:relative; z-index:99999; }
	.dropdown a { padding:0 15px; outline:none; color:#000; text-decoration:none; text-transform: uppercase; font-size: 12px;}
	.dropdown a:hover { color:#000; }
	.dropdown dt a:hover { color:#000; }
	.dropdown dt a { display:block; width:170px;}
	.dropdown dd ul { position:absolute; top:0px; left:0px; z-index:100; display:none; padding:0px; width:110px; color:#000; list-style:none;}
	.dropdown span.value { display:none; }
	.dropdown dd ul li a { display:block; padding:5px 0px 5px 15px; border-bottom: 1px solid #e2e2e2; background-color:#FFF; }
	.dropdown dd ul li a:hover { background-color:#e2e2e2;}
	
	#search { position:relative; display: block; float:right; overflow: hidden; width:238px; }
	#q { position:relative; z-index:0; margin:0 0 0 10px; padding:3px 24px 3px 3px; width:199px; height:22px; border:1px solid #e2e2e2; font-size:12px; font-family:Arial; line-height: 22px; }
	
	#cyclebox { margin-top:21px; width:586px; height:110px; overflow: hidden; }
	#cyclebox .imgwrapper { position: relative; display: block; width:586px; height:110px; background:no-repeat; }
	#cyclebox .imgwrapper .transpcontentbox { position:absolute; top:5px; left:0; }
	#cyclebox .imgwrapper .content { position: absolute; top:31px; left:18px; width:232px; height:33px; }
	#cyclebox .imgwrapper .content p { color:#000; font-size: 12px;  }
	
	#maincontent { padding-top:40px; position: relative; }
	#content { float:left; margin-right: 40px; width:616px; min-height:750px; }

  .titlebox { padding:30px 22px; min-height: 60px; width:572px;  }
	.titlebox { padding:30px 22px; min-height: 10px; width:572px;  }

	.inside-contentbox { margin-bottom: 44px; padding:20px; border:1px solid #f2f2f2; border-top: none; background-color: #FFF; }
	.inside-contentbox ol { padding: 10px 0;}
	.inside-contentbox ol li { padding-left: 10px;}
	.inside-contentbox ol li, .inside-contentbox ol li a { color:#000000; }
	.picbox { float:right; clear:right; padding:0 0 0 20px; }
	.greytitle { background-color:#f8f8f8; }
	.greytitle h2 { color:#000; text-transform: uppercase; font-size: 32px; line-height: 32px; }
	.blacktitle { background-color:#000; }
	.blacktitle h2 { color:#FFF; text-transform: uppercase; font-size: 32px; line-height: 32px; }

	.agenda { margin-top: 10px; }
	.listbox { margin-bottom: 20px; width:573px; min-height:133px; border:1px solid #f8f8f8; }
	.listbox.project { background-image: url("../img/project_bg.jpg"); background-position: center top; background-repeat: repeat-y; position: relative; }
	.listboxlast { margin-bottom: 0px; }
	.listbox img { float:left; clear:left; border: none; }
	
	.hide { display: none; /*width:573px;*/  padding-bottom: 20px; }
	.listbox-inside { float:left; padding: 20px; width:398px; min-height:95px; background-color:#f8f8f8; position: relative; }
	.listbox-inside h5 { color:#484848; font-size: 18px; overflow: hidden; display: block; }
	
	/*.project.hide { width: 573px !important; }*/
	.left_hide { float: left; width: 135px; }
	.project_content { float:left; padding: 20px; padding-top: 10px; width:398px; }
	.left_hide p { padding: 10px 20px; }
	.left_hide ul { padding: 0px 0px 0px 20px; margin: 0px; list-style-type: none; }
	.left_hide ul li { padding: 0px; margin: 0px 0px 5px 0px; background-position: left center; background-repeat: no-repeat; }
	.left_hide ul li.mail { background-image: url("../img/mail_bg.jpg"); }
	.left_hide ul li.website { background-image: url("../img/website_bg.jpg"); }
	.left_hide ul li a { padding: 0px 0px 0px 20px; }
	
	.agenda h5 { width:313px; }
	.listbox-inside p { color: #000; font-size: 12px; }
	.datebox { position: absolute; top:-11px; right: 20px; width:60px; height:42px; background-color: #d2d0d0; overflow: hidden; padding:8px 10px 10px 10px; }
	.datebox p { color:#000; font-size: 30px; line-height: 16px; }
	.datebox p span { color:#000; display: block; font-size: 16px; line-height: 8px; }
	.listbox-inside a.more { width:30px; height:30px; position: absolute; bottom: -10px; left:8px; overflow: hidden; }
	.listbox-inside a.less { width:30px; height:30px; position: absolute; bottom: -10px; left:8px; overflow: hidden; background-position: -526px -30px; }
	
	#formbox { padding-top: 30px; }
	#contactform input { padding:0 10px; width: 330px; border:none; font-size: 12px; }
	#contactform textarea { padding:10px; width: 330px; height: 160px; border:none; font-size: 12px; }
	#contactform label { color:#000; font-size: 12px; line-height: 40px; }
	#contactform label span { color: #de1818;  }
	#contactform a.send { padding:10px 37px; border:1px solid #eaeaea; background-color:#000; color:#FFFFFF; text-decoration: none; text-transform: uppercase; line-height: 38px; font-size:18px; }
	.maps { width:350px; height:200px; display:block; float:right; clear:right; }
	#maps { width:350px; height:200px; }
	#rightcolumn { top:40px; left:660px; float:left; width:330px; }
	#rightcolumn_ab { position: absolute; top:40px; left:660px; float:left; width:330px; }
	.rightcolumninside { margin-bottom: 43px; padding:19px; width:290px; border:1px solid #f1f1f1; background-color: #FFF; }
	ul.agenda, ul.partners, ul.news { margin:0; padding:0; width:290px;  }
	ul.agenda li { position: relative; display: block; margin-bottom: 10px; padding:17px 20px; width:250px; min-height: 36px; background-color: #f8f8f8; list-style-type: none; cursor: pointer; }
	ul.agenda li a { display: block; color:#484848; text-decoration: none; font-size: 18px; }
	ul.agenda li .arr { position: absolute; top:0; right:0; width:26px; height:70px; }
	ul.partners li { float:left; list-style-type: none; }
	ul.partners li a { display: block; padding: 0 0 20px 0; width:135px; height: 135px; }
	ul.partners li a.p-right { padding: 0 20px 20px 0;  }
	ul.partners li a img { border: none;  }
	ul.news li { position: relative; display: block; padding:0 0; width:290px; list-style-type: none; cursor: pointer; }
	ul.news li a { display: block; color:#484848; text-decoration: none; font-size: 14px; padding:0 0 10px 0; margin:0 0 10px 0; border-bottom:1px solid #f1f1f1; }
	ul.news li:last-child a { border-bottom:0; }
	.space24 { display: block; clear: both; height: 24px; }
	label.error { color:#DE1818 !important; }
	div.status { border:1px solid #DE1818; color:#DE1818; padding:5px; margin:20px 0; }
	p.placedby { color:#BBB; font-size: 12px; font-weight: bold; }
	a.archiveall { width:30px; height:30px; float:right; clear:right; overflow: hidden; }
	a.archivenone { width:30px; height:30px; float:right; clear:right;  overflow: hidden; background-position: -526px -30px; }
	p.titlelook a.more { background-position: -526px -30px;  }
	
	.w30 { width:30px; display: block; float:left; clear: left; }
	.mail_site { display: block; float:left; clear:left; margin-right: 10px; }
	.weburl { text-decoration: none; margin:2px 0 15px 0; display: block; }
	.weburl:hover { text-decoration: underline; }
	.listbox-left { width:135px; float:left; }
	.listbox-left-inside { padding: 10px;}
	.listbox-right {  float:left; }
/* END MAIN CSS */

/* MENU CSS */
	#menu { margin: 0; padding: 10px 0 0 0; }
	#menu li { display: block; float:left; float:left; list-style-type: none; }
	#menu li a { width:164px; color:#000; text-align: center; text-transform: uppercase; font-size: 18px; line-height: 40px; }
	#menu li a.first { width:165px; }
	#menu li a.last { width:169px; }
	
	#menu2 { margin: 0; padding: 10px 0 0 0; position: relative; z-index: 9999; }
	#menu2 ul, #menu2 ul ul { padding: 0; margin: 0; }
	#menu2 ul li { display: block; float:left; float:left; list-style-type: none; }
	#menu2 ul li a {  width:164px; color:#000; text-align: center; text-transform: uppercase; font-size: 18px; line-height: 40px; }
	#menu2 ul li > a:hover, #menu2 li.active > a, #menu2 li:hover > a { color:#FFF !important; }
	#menu2 ul li.first { border-left:1px solid #eaeaea; }
	#menu2 ul li ul { display: none; position: absolute; top:50px; margin-left:0px; }
	#menu2 ul li ul li { float:none; }
	#menu2 ul li ul li a { text-align: left; padding:0px 10px; width: 144px;  }
	#menu2 ul li ul li a:hover { text-align: left; padding:0px 10px; background-color:#000; color:#FFF }
	
	#menu2 li a.left-active { width:165px; color:#FFF; text-align: center; text-transform: uppercase; font-size: 18px; line-height: 40px; }
	#menu2 li a.active { width:164px; color:#FFF; text-align: center; text-transform: uppercase; font-size: 18px; line-height: 40px; }
	#menu2 li ul li a.active { width:144px; color:#FFF; text-align: left; text-transform: uppercase; font-size: 18px; line-height: 40px; }
	#menu2 li a.right-active { width:169px; color:#FFF; text-align: center; text-transform: uppercase; font-size: 18px; line-height: 40px; }
/* END MENU CSS */
	
/* STICKY FOOTER */
	#footer {position: relative; clear:both; margin-top: -165px; /height: 165px; background-color: #FFFFFF}
	#footer .container { display: block; overflow: hidden; padding: 0 10px; padding:16px 0; width:990px; height: 165px; border-top:1px solid #b3b3b3; }
	#footer .container .left { float:left; }
	#footer .container .right { float:right; }
	#footer .container .right p { float:left;  margin-left: 20px; }
	#footer .container .right a { margin-left: 20px; }
	body:before { float:left; margin-top:-32767px; width:0; height:100%; content:""; }
	

	
/* END STICKY FOOTER */

#tagcloud{
	z-index: 0;
	position: relative;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; overflow: hidden; border: 0; background-color: transparent; background-repeat: no-repeat; text-align: left; text-indent: -999em; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; padding: 0; width: 1px; height: 1px; border: 0; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { position: static; overflow: visible; clip: auto; margin: 0; width: auto; height: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; box-shadow:none !important; color: black !important; text-shadow: none !important; -ms-filter: none !important; filter:none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}