.popupHolder {
  position: absolute;
  top: 0px;
  left: 0px;
	
	display: -webkit-flex; /* Safari */
	display: flex;
	

  -webkit-flex-flow: column;
  flex-flow: column;
  
	
	
	
	-webkit-align-items: center;
	align-items: center;
	
  -webkit-justify-content: center;
	justify-content: center;
	
	
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.25);
	z-index: 100;
}

.Popup {
	
	display: -webkit-flex; /* Safari */
  display: flex;
	
  -webkit-flex-flow: column;
	flex-flow: column;
	
	
  border-radius: 10px;
  justify-content: center;
  /text-align: center;
  background: #FFF;
  border: 1px solid #888;
  width: 500px;
  padding: 5px 20px;
  /height: 600px;
	z-index: 200;
}





.Popup .btnPopupClose{
  color: #000;
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  text-align: right;
  text-decoration: none;
}

.Popup h1{
  color: #00adef;
  margin: 0px;
  /margin: 30px;
  margin: 0px 20px;
  /text-align: center;
  margin-bottom: 40px;
  padding: 0px;
  font-size: 32px;
}

.Popup p{
  /text-align: center;
  margin: 0px 20px;
  margin-bottom: 60px;
  padding: 0px;
}

.Popup .PopupRow{
  margin: 0px 0px;
  /margin-bottom: 60px;
  padding: 0px;
	/background: #F00;
}

.Popup .inputLabel{
  text-align: right;
  margin: 10px 10px;
  width: 140px;
  /width: 160px;
  float: left;
}



/* input ........................... */

.Popup .inputField{
  border: 2px solid hsl(197, 00%, 70%);
  margin: 0px 0px;
  margin-bottom: 10px;
  margin-bottom: 0px;
  padding: 10px;
  /width: 280px;
  width: 300px;
}
.Popup .inputFalse{
  border: 2px solid hsl(320, 100%, 50%);
  background: hsl(320, 100%, 95%);
}

.Popup select{
  border: 2px solid hsl(197, 00%, 70%);
  border: 2px solid #b3b3b3;
  margin: 0px 0px;
  margin-bottom: 10px;
  margin-bottom: 0px;
  padding: 10px;
  /width: 280px;
  /width: 300px;
  width: 324px;
}













