body {
  /background-image: url('./images/dementia-bg_60prc.gif');
  /background-image: url('../images/dementia-bg_blue_grid_102.gif');
  /background-image: url('../images/dementia-bg_blue_grid_104.gif');
  /background-image: url('../images/dementia-bg_blue_grid_106.gif');
  background-image: url('../images/dementia-bg_blue_grid_107.gif');
 background-position: center top;
  /background-position: -10% 0%;
  background-repeat: no-repeat;
}

.sprite-logo, .sprite-textarea, .sprite-slider-transbg, .sprite-investing, .sprite-arrow-right, 
.sprite-agenda, .sprite-input, .sprite-menu, .sprite-menu-left, .sprite-menu-right, 
.sprite-menu-left-over, .sprite-menu-over, .sprite-menu-right-over, .sprite-linkedin, .sprite-rss, 
.sprite-language-arrow, .sprite-search, .sprite-brainport-region {
  display: block;
  background: url('../images/dementia-sprite_60prc.png') no-repeat;
}

#go {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 99;
  display: block;
  display: block;
  width: 28px;
  width: 28px;
  height: 28px;
  height: 28px;
  background: url('images/dementia-sprite_60prc.png') no-repeat;
  background-position: -470px -150px;
}

#cyclebox .imgwrapper .content p span {
  color: #00adef;
}

.topright a.loginlink {
  background-color: #00adef;
}

.colortitle {
  background-color: #00adef;
  background-color: #FFFFFF;
}

.colortitle h1 {
  color: #FFF;
  color: #000;
  
  text-transform: uppercase;
  font-size: 32px;
  line-height: 32px;
}

p a.readmore {
  color: #00adef;
  text-decoration: none;
}

p a.readmore:hover {
  text-decoration: underline;
}

p.titlelook {
  padding-bottom: 26px;
  color: #00adef;
  font-size: 18px;
}

.listbox-inside a.siteurl {
  color: #00adef;
  text-decoration: none;
  font-size: 12px;
}

ul.agenda li a span, ul.news li a span {
  display: block;
  color: #00adef;
  font-size: 14px;
}

a.searchresult {
  color: #00adef !important;
  font-size: 14px;
}
