body {
  margin: 0px;
  padding: 0px;
}

.RD_container {
	display: -webkit-flex; /* Safari */
	display: flex;
  flex-flow: row;
  margin: 0px auto;
  padding: 0px;
  /background: hsl(190, 51%, 73%);
  width: 1000px;
}

.col15 {
  -webkit-box-flex: 15;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 15;         /* OLD - Firefox 19- */
  /width: 20%;               /* For old syntax, otherwise collapses. */
  -webkit-flex: 15;          /* Chrome */
  -ms-flex: 15;              /* IE 10 */
  
	flex: 15;
	
  /background: hsla(197, 90%, 50%, 0.5);
  background: hsla(197, 100%, 100%, 0.5);
  padding: 10px;
}
.col20 {
  -webkit-box-flex: 20;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 20;         /* OLD - Firefox 19- */
  /width: 20%;               /* For old syntax, otherwise collapses. */
  -webkit-flex: 20;          /* Chrome */
  -ms-flex: 20;              /* IE 10 */

  flex: 20;
	
  background: hsla(197, 90%, 100%, 0.8);
  background: hsla(197, 90%, 100%, 1.0);
  padding: 20px;
}
.col30 {
  -webkit-box-flex: 30;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 30;         /* OLD - Firefox 19- */
  /width: 20%;               /* For old syntax, otherwise collapses. */
  -webkit-flex: 30;          /* Chrome */
  -ms-flex: 30;              /* IE 10 */

  flex: 30;
	
  background: hsla(197, 90%, 90%, 0.5);
  background: hsla(197, 90%, 100%, 1.0);
  padding: 20px;
}



.latest-items {
	display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: row wrap;
  /background: hsl(50, 51%, 73%);
  margin: 50px;
  padding: 0px;
  width: 1020px;
}
.latest-item {
	display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: column;
  /background: hsl(20, 51%, 73%);
  padding: 0px;
  margin: 20px;
  width: 240px;
  padding-bottom: 20px;
  border-bottom: 20px solid hsl(197, 100%, 47%);;
}
.latest-item img {
  padding: 0px;
  width:240px;
}

