/* topnav ---------------------------- */


/* topnav ---------------------------- */

.rd_navbar_title1 {
  /float: left;
  /float: none;
  font-size: 47px;
  font-size: 60px;
  padding: 0px;
  /height: 60px;
  margin: 20px 0px -20px 20px;
  width: 600px;
  color: hsl(197, 100%, 32%);
  color: hsl(197, 100%, 47%);
  color: hsl(197, 100%, 35%);
}
.RD_topnav_subtitle {
  /float: left;
  /float: none;
  /height: 160px;
  /text-align: center;
  /font-style: italic;
  /width: 440px;
  font-size: 18px;
  margin: 0px 0px 34px 28px;
  cursor: default;
  color: hsl(0, 0%, 20%);
}
.RD_topnav_logo_Innovate {
  /float: left;
  /float: none;
  margin: 50px 0px 0px 212px;
  /position: relative;
  /left: 800px;
  /top: 160px;
  background-image: url("../images_RD/InnovateDementia.png");
  width: 146px;
  height: 72px;
}




/* nav level 1 ---------------------------- */

.navLevel1Container{
	display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: row;
  margin: 0px auto;
  padding: 0px;
  width: 1000px;
  background: hsla(0, 0%, 70%, 0.8);
  background: hsla(0, 0%, 50%, 1.0);
  height: 40px;
  cursor: default;
  font-size: 18px;
  color: #fff;
}
.navLevel1{
  padding: 0px 20px;
  padding-top: 9px;
  float: left;
}
.navLevel1:hover{
  background-color: #00adef;
	background-color: hsl(197, 100%, 30%);
  /color: #ff0;
}
.navLevel1.active{
  background-color: #00adef;
  color: #fff;
}


/* Language ---------------------------- */

.RDnavLangContainer{
	/display: -webkit-flex; /* Safari */
  /display: flex;
  /flex-flow: row;
  margin: 0px;
  padding: 0px;
  background: hsla(0, 0%, 70%, 0.8);
  background: hsla(0, 0%, 50%, 1.0);
  cursor: default;
  /font-size: 12px;
  width: 100px;
  color: #fff;
}
.RDnavLang{
  float:left;
  padding: 0px 2px;
  padding-top: 12px;
}
.RDnavLang:hover{
  font-weight: bold;
}
.RDnavLang.active{
  font-weight: bold;
}

/* nav level 2 ---------------------------- */

.navLevel2Container{
  font-size: 14px;
  font-size: 18px;
  font-size: 16px;
	display: -webkit-flex; /* Safari */
	display: flex;
  flex-flow: row;
  margin: 0px auto;
  padding: 0px 10px;
  width: 1000px;
  background: hsla(0, 0%, 100%, 0.5);
  height: 40px;
  cursor: default;
}
.navLevel2{
  padding: 0px 10px;
  padding-top: 9px;
  float: left;
}
.navLevel2:hover{
  /color: #00adef;
	/color: hsl(197, 100%, 40%);
  /font-weight: bold;
  /background-color: #00adef;
  background-color: #ddd;
  /color: #fff;
}
.navLevel2.active{
  font-weight: bold;
  color: #00adef;
	color: hsl(197, 100%, 40%);
  background-color: #FFFFFF;

  border-bottom: 2px solid #00adef;
}





#menu2 {
  background-color: #FFFFFF;
  padding: 10px 10px 14px 0px;
}

.rd_nav1 {
  background-color: #aaaaaa;
  color: #00adef;
  padding: 4px 20px;
  margin: 0px 8px 0px 0px;
}

.rd_nav1:hover {
  //background-color: #AAAAAA;
}

.rd_nav1 a{
}

.rd_nav1_active {
  background-color: #00adef;
}




.rd_left_col {
  width: 240px;
  /height: 100px;
}


.rd_white_backdrop{
  /background: #FF0;
  width: 240px;
}

#rd_content{
  float: left;
  background: #FFFF00;
  margin-top: 100px;
  padding: 10px 2px 10px 2px;
  width: 300px;

}


.RD_container a {
  color: #00adef;
  color: #888;
  /font-weight: bold;
  /text-decoration: none;
}
.RD_container a:hover {
  /color: #444;
  text-decoration: underline;
}




/* rightcolumn 2 ---------------------------- */


#rightcolumn2 {
  top:40px;
  left:660px;
  float:left;
  width:330px;
  width:530px;
}
#rightcolumn2_ab {
  position: absolute;
  top:40px;
  left:660px;
  float:left;
  width:330px;
}
.rightcolumn2inside {
  margin-bottom: 43px;
  padding:19px;
  width:290px;
  width:490px;
  border:1px solid #f1f1f1;
  /background-color: #FFF;
}





/* Action button ---------------------------- */

.mainActionButton{
  margin: 50px;
  color: #FFFFFF;
  background: hsl(197, 100%, 47%);
  padding: 20px;
  text-align: center;
  border: 2px solid hsl(197, 100%, 47%);
  border-radius: 10px;
}
.mainActionButton:hover{
  background: hsl(197, 100%, 47%);
  background: hsl(197, 100%, 57%);
  border: 2px solid hsl(197, 100%, 37%);
  cursor: default;
}


/* News ---------------------------- */

.newsList{
  margin: 0px 0px 20px 0px;
  padding: 10px 20px;
  border: 1px solid hsl(0, 0%, 90%);
  color: #000;
}
.newsList a{
  color: #000;
	color: hsl(197, 100%, 40%);
}


.newsShort {
  color: #000;
  margin-bottom: 40px;
}



/* Article ---------------------------- */

.col20 h1{
  color:#00adef;
  font-family: "ff-tisa-web-pro", serif, Arial, Helvetica;
  font-size: 32px;
  font-size: 40px;
	color: hsl(197, 100%, 47%);
	color: hsl(197, 100%, 40%);
	margin-bottom: 15px;
  margin-bottom: 40px;
}
.col30 h1{
  color:#00adef;
  font-family: "ff-tisa-web-pro", serif, Arial, Helvetica;
  font-size: 32px;
  font-size: 40px;
	color: hsl(197, 100%, 40%);
  margin-bottom: 15px;
  margin-bottom: 40px;
}
.col30 h2{
  color:#00adef;
	color: hsl(197, 100%, 40%);
  font-family: "ff-tisa-web-pro", serif, Arial, Helvetica;
  font-size: 32px;
  padding-bottom: 8px;
  margin-bottom: 4px;
}
.col30 h2:hover{
  background: #ddd;
  /border-bottom: 1px solid #000;
}







.RD_container h3{
  /color:#00adef;
  /font-family: "ff-tisa-web-pro", serif, Arial, Helvetica;
  /font-size: 20px;
  /margin-bottom: 15px;
  /margin-bottom: 20px;

	/* copy from tweetFeed */
	color: rgb(41, 47, 51);
  cursor: auto;
  display: inline;
  font-family: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: auto;
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  outline-color: rgb(41, 47, 51);
  outline-style: none;
  outline-width: 0px;
  text-decoration: none;
  text-transform: none;
  width: auto;
  zoom: 1;

}






.newsTitle{
  color: #000;
  /font-family: "ff-tisa-web-pro", serif, Arial, Helvetica;
  font-size: 16px;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 20px;
}
.newsTitle:hover{
  /background: #ddd;
  /font-weight: bold;
}

.newsDate{
  color:#888;
  /font-family: "ff-tisa-web-pro", serif, Arial, Helvetica;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 15px;
  margin-bottom: 20px;
}







/* legenda ---------------------------- */

.legendaSample {
  color: #000;
  display: block;
  background: #F00;
  width: 20px;
  height: 20px;
  margin: 10px;
}
.legendaSample p{
  padding: 0px;
  margin: 0px 0px 00px 30px;
  width: 250px;
}

.color0{
  background-color: #cccccc;
  background-color: hsl(17, 00%, 80%);
}
.color1{
  background-color: #99ccff;
  background-color: hsl(197, 90%, 70%);
  /background-color: hsl(197, 70%, 70%);
}
.color2{
  background-color: #ccffcc;
  background-color: hsl(107, 90%, 80%);
  background-color: hsl(177, 90%, 80%);
  /background-color: hsl(177, 70%, 80%);
}
.color3{
  background-color: #cc99ff;
  background-color: hsl(267, 90%, 80%);
  background-color: hsl(217, 90%, 80%);
  /background-color: hsl(217, 70%, 80%);
}


/* Tracks ---------------------------- */

.tracksHolder {
	/background: #f00;
	/margin: 0px;
	/padding: 0px;
  height: 820px;
}






/* programBox ---------------------------- */

.programBox {
  margin: 270px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  width: 260px;
  width: 550px;
  height: 20px;
  position: absolute;
}
.programBox:hover {
  font-weight: bold;
  cursor: auto;
}
.leftTrack {
  width: 270px;
  position: absolute;
}
.rightTrack {
  margin: 270px 0px 0px 280px;
  width: 270px;
  position: absolute;
}
.trackView {
  height: 580px;
}

.programBox.disabled {
  color: #888;
  background-color: hsl(000, 00%, 88%);
}
.programBox.disabled:hover {
  font-weight: normal;
}

.programBox p {
  position: relative;
  top: 0px;
  top: -8px;
  font-size: 13px;
  padding: 0px;
  margin: 10px 10px 10px 10px;
  cursor: default;
}



.programBoxText {
  margin: 20px 20px;
}



.programBoxFull {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 10px;
  padding: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.programBoxFull:hover {
  cursor: auto;
}
.programBoxFull a{
  color: #000;
  text-decoration: none;
}
.programBoxFull a:hover{
  color: #000;
  font-weight: bold;
}






/* helpers ------------------------------------------ */

.rd_spacer {
  clear: both;
  width: 260px;
  height: 120px;
}



/* footer ------------------------------------------ */

#footer {
  margin-top: 80px;
}

.footerLogo {
  /margin: 30px 20px;
  margin: 30px -4px;
}

#footer a{
  text-decoration: none;
}


/* shareItBtn ------------------------------------------ */


.shareItBtn {
  margin: 30px 20px;
}
