/* Reset Styles
***********************/

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}


blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: bold;}
em {font-style: italic;}

body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}


#menu ul li a span     {
	color: #53473F;
	padding-right: 12px;
	padding-left: 10px;
	height: 42px;
	padding-top: 8px;
	cursor: pointer;
	display: block;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
#container-slider {
	width: 900px;
	max-width: 900px;
	width: 990px;
	max-width: 990px;
  height: 440px;
  height: 504px;
	margin: 0 auto;
}
h1 {
	font-family: "ff-tisa-web-pro", serif, Arial, Helvetica ;
	font-size: 24px;
	margin-bottom: 15px;
}
.slides h2 {
	padding-top: 10px;
	padding-right: 0;
	padding-left: 0;
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 600;
	color: #00adef;
	color: #FFFFFF;
	padding-bottom: 19px;
}
.slides a {
	text-decoration: none;
	color: #53473F;
	color: #FFFFFF;
}

.flex-caption {
	background-color: rgba(255, 255, 255, 0.7);
	background-color: rgba(0, 173, 239, 0.7);
  margin: 0px 0px 40px 0px;
  width: 600px;
  color: #00adef;
  padding: 20px;
}

.flex-caption p a {
	padding-top: 6px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-left: 0px;
	/background-color: #00adef;
	/background-color: rgba(0, 173, 239, 0.7);
	color: #FFFFFF;
	font-size: 20px;
	/font-family: "ff-tisa-web-pro", serif, Arial, Helvetica;
	letter-spacing: 1px;
}
.flex-caption p a:hover {
	/background-color: #00adef;
	/color: #FFFFFF;
}
.lijn {
	border-top: 5px solid #FFFFFF;
	width: 700px;
	margin-left: 70px;
}
