<template name="cmsNav">
	{{#if routeReady}}
		<div id='main-nav'>
			{{> cmsNavLevel1}}
			{{> cmsNavLevel2}}
		</div>
	{{/if}}
</template>


<template name="cmsNavHead">
	<div id='main-head' align='right'>
		<!--
		CMS light
		-->
		<a class='textLink' target='_blank' href='{{link}}'>view website</a>
		<span align='right'>{{> loginButtons align="right"}}</span>
	</div>
</template>


<template name="cmsNavLevel1">
	<div id='btn-navbar'>
		{{#each buttons}}
			<div class='btn nav level1 {{classSelected}}'>{{buttonName}}</div>
			<!--
			{{#if is_equal index 4}}<br><br>{{/if}}
			-->
		{{/each}}
	</div>
</template>


<template name="cmsNavLevel2">
	{{#if show}}
		<div id='btn-navbar'>
			{{#each buttons}}
				<div class='btn nav {{classSelected}}'>{{buttonName}}</div>
			{{/each}}
		</div>
	{{else}}
	{{/if}}
</template>
