<template name="frontNav">
	{{> headerlogo}}
	{{#if routeReady}}
    <!-- nav level 1 .................................... -->
    <div class="RD_container">
			{{> frontNavLevel1}}
			{{> chooseLanguage2}}
    </div>
		<!-- nav level 2 ....................................... -->
    <div class="RD_container">
			<div class="navLevel2Container">
				{{> frontNavLevel2}}
				{{> aboutList}}
			</div>
		</div>
	{{/if}}

	<!-- extra whitespace ....................................... -->
	<div class="RD_container">
		<div class="navLevel2Container">
		</div>
	</div>

</template>

<template name="frontNavLevel1">
	<div class="navLevel1Container">
		{{#each buttons}}
			<div href='{{pathFor myUrl}}' class='btn navLevel1 {{classSelected}}'>
				{{buttonName}}
			</div>
		{{/each}}
	</div>
</template>

<template name="frontNavLevel2">
		{{#if show}}
			{{#each buttons}}
				<div href='{{pathFor myUrl}}' class='btn {{classSelected}} navLevel2'>
					{{buttonName}}
				</div>
			{{/each}}
		{{else}}
		{{/if}}
</template>


