
<template name="headerlogo">
	{{#if is_equal frontLanguageHelper 0}}
		{{> headerlogoNL}}
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}
		{{> headerlogoEN}}
	{{/if}}
</template>



<template name="headerlogoNL">
	<!-- headerlogo ................................... -->
	<div class="RD_container">
		<a href='http://thinkdementia.innovatedementia.eu'>
			<div>
				<div class='rd_navbar_title1'>THINK DEMENTIA!</div><br>
				<div class='RD_topnav_subtitle'>3 Juni 2015 NatLab Eindhoven</div>
			</div>
		</a>
		<a href='http://www.innovatedementia.eu/nl'>
			<div class='RD_topnav_logo_Innovate'></div>
		</a>
	</div>
	<script>renderCufont2();</script>
</template>

<template name="headerlogoEN">
	<!-- headerlogo ................................... -->
	<div class="RD_container">
		<a href='http://thinkdementia.innovatedementia.eu'>
			<div>
				<div class='rd_navbar_title1'>THINK DEMENTIA!</div><br>
				<div class='RD_topnav_subtitle'>June 3rd 2015 NatLab Eindhoven</div>
			</div>
		</a>
		<a href='http://www.innovatedementia.eu/en'>
			<div class='RD_topnav_logo_Innovate'></div>
		</a>
	</div>
	<script>renderCufont2();</script>
</template>






<template name="headerlogo_">
    <!-- headerlogo .................................... -->
    <div class="RD_container">
			<!--
			<a href='http://uxfront.net/introductie'>
			-->
			<div class='RD_topnav_title'>
					<div class='rd_navbar_title1'>Think</div>
					<div class='rd_navbar_title2'>Dementia!</div>
					<script>renderCufont();</script>
      </div>
			<!--
			</a>
			-->

      <div class='RD_topnav_subtitle'>
				{{> text_topNavSubTitle}}
      </div>

			<a href='http://www.innovatedementia.eu/en'>
				<div class='RD_topnav_logo_Innovate'>
					<p></p>
				</div>
			</a>

    </div>
</template>
