<!-- contact btn -->

<template name="contactBtn">

	<div id='formContactBtn' class='mainActionButton'>
		{{> text_contactBtn}}
	</div>

	{{#if showForm}}
		{{> formContact}}
	{{/if}}

	{{#if showFormThanks}}
		{{> formContactThanks}}
	{{/if}}

</template>
