<!-- registerBtn Awa -->

<template name="registerBewustwBtn">
	{{#if regOpen}}

		<div id='registerBtn' class='mainActionButton'>
			{{> text_registerBewustwBtn}}
		</div>

		{{#if showForm}}
			{{> formAwa}}
		{{/if}}

		{{#if showFormThanks}}
			{{> formAwaThanks}}
		{{/if}}

	{{else}}
		<br><br><br>
	{{/if}}
</template>
