
<!-- registerBtn Sympoium, global -->

<template name="registerBtn">
	{{#if regConferenceOpen}}
	
		<div id='registerBtn' class='mainActionButton'>
			{{> text_registerBtn}}
		</div>
		
		{{#if showForm}}
			{{> formSymposium}}
		{{/if}}

		{{#if showFormThanks}}
			{{> formThanks}}
		{{/if}}
		
	{{else}}
		<br><br><br>
	{{/if}}
</template>






