<!-- social media agenda ------------------------------------------------------------------ -->



<template name="news_social_media">

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>

</template>

<template name="front_blog_social_media__">
	{{socMed}}
	<p align="right">
		<div class="addthis_toolbox" addthis:url="{{AddthisUrl}}">

			<a class="addthis_button_facebook">
				<img src="/images-design/btn-facebook.gif" width="22" height="22" alt=""/>
			</a>
			<a class="addthis_button_google_plusone_share">
				<img src="/images-design/btn-googleplus.gif" width="22" height="22" alt=""/>
			</a>
			<a class="addthis_button_linkedin">
				<img src="/images-design/btn-linked-in.gif" width="22" height="22" alt=""/>
			</a>

		</div>
	</p>

</template>



<!-- social media sensetalk main--------------------------------------------------------- -->
<template name="front_blog_social_media_sensetalk__">
	{{socMed}}
	<p align="right">
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
			<a class="addthis_button_facebook">
				<img src="/images-design/btn-facebook.gif" width="22" height="22" alt=""/>
			</a>
			<a class="addthis_button_google_plusone_share">
				<img src="/images-design/btn-googleplus.gif" width="22" height="22" alt=""/>
			</a>
			<a class="addthis_button_linkedin">
				<img src="/images-design/btn-linked-in.gif" width="22" height="22" alt=""/>
			</a>
		</div>
	</p>
</template>
