
<!-- item slider -->
<template name="items_slider">

	<!--
	{{#each slideList}}
		{{#each image}}
			<img src="{{this.url store='imagesSlide'}}"><br>
		{{/each}}
	{{/each}}
	-->

	<!--
	{{#each image}}
		<img src="{{this.url store='imagesSlide'}}" width='444'/><br>
	{{/each}}
	-->

	<!--
	{{#each slideList}}
		{{number}}
		{{#each image}}
			<li>
				<img src="{{this.url store='imagesSlide'}}" alt="" />
			</li>
		{{/each}}
	{{/each}}
	-->
	
	<div id="slider" align="center" style="margin-bottom:60px; margin-top:30px;">
		<div class="flex-container">
			<div class="flexslider">
				<ul class="slides">
					&nbsp;
					{{#each slideList}}
						{{#each image}}
							<li>
								<img src="{{this.url store='imagesSlide'}}" alt="" />
							</li>
						{{/each}}
					{{/each}}
				</ul>
			</div>
		</div>
	</div>

	<!--
	<div id="slider" align="center" style="margin-bottom:60px; margin-top:30px;">
		<div class="flex-container">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<img src="images-producten/slide1.jpg" alt="" />
					</li>
					<li>
						<img src="images-producten/slide2.jpg" alt="" />
					</li>
					<li>
						<img src="images-producten/slide3.jpg" alt="" />
					</li>
					<li>
						<img src="images-producten/slide4.jpg" alt="" />
					</li>
				</ul>
			</div>
		</div>
	</div>
	-->
	
</template>



