<!-- items -->

<template name="itemsCms">
	{{cmsTabs}}
	{{> cmsPage}}
</template>


<template name="cmsItemsPage">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListA}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>


<template name="cmsItemsProducts">
	<div id='main-list'>
		{{> cmsLanguage}}
		<!--
		{{group}}
		-->
		{{> cmsListB}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>


