
<template name="cmsEdit_seo">

	<div class='itemlabel'>SEO title</div>
	<div class='itemfield'>
		<input id='input_seoTitle' value={{seoTitle}} class='input-small' maxlength='120' type='text'>
		<div class='itemfield-remarks'>
			Deze titel verschijnt in het tabblad van de browser en als titel bij zoekresultaten, bijv bij Google en Bing. <br/>
			(Maximaal circa 55 karakters)
		</div>
	</div>
	
	<div class='itemlabel'>SEO Description</div>
	<div class='itemfield'>
		<textarea id='input_seoDescr' class='seoDescr' rows='6' maxlength='160'>{{seoDescr}}</textarea>
		<div class='itemfield-remarks'>
			Dit is de omschrijving bij het het zoekresultaat. Gebruik bijvoorbeeld kernwoorden die in het artikel staan.<br>
			(Maximaal circa 155 karakters)		
		</div>
	</div>

	{{> cmsUpdate updateStatus}}
	
</template>
