<!-- twitterFeed ............................... -->

<template name="twitterFeed">
	<a class="twitter-timeline" href="https://twitter.com/e_Ucare" data-widget-id="581472903394422784">Tweets door @e_Ucare</a>
</template>
