
<template name="chooseLanguage2">
	<div class="RDnavLangContainer">
		{{#each buttonsLang}}
			{{#if is_equal index 0}}
				<!--Nederlands-->
        <div class='RDnavLang active'>NL</div>
        <div class='RDnavLang'>/</div>
        <div class='RDnavLang buttonLang' href="#" >EN</div>

			{{else}}
				<!--Engels-->
        <div class='RDnavLang buttonLang' href="#" >NL</div>
        <div class='RDnavLang'>/</div>
        <div class='RDnavLang active'>EN</div>

			{{/if}}
		{{/each}}
	</div>
</template>


<template name="chooseLanguage_">
	<div class='temp-border'>
		<h5>chooseLanguage</h5>
		{{#each buttons}}
			<a class='button {{classSelected}}'>
				{{buttonName}}
			</a>
		{{/each}}
	</div>
</template>


<template name="chooseLanguage2_">
	{{#each buttonsLang}}
		{{#if is_equal index 0}}
			<!--Nederlands-->
			<span class="lichtgrijs">nl | </span><a href="#" class='buttonLang'>uk</a>
		{{else}}
			<!--Engels-->
			<a href="#" class='buttonLang'>nl</a> | uk <span class="lichtgrijs"></span>
		{{/if}}
	{{/each}}
</template>
