
<template name="cmsEdit_newsShort">

	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_title' value={{title}} class='input-small' maxlength='120' type='text'>
	</div>

	<div class='itemlabel'>Short</div>
	<div class='itemfield'>
		<textarea id='input_newsShort' class='article'>{{newsShort}}&nbsp;</textarea>
		<script>placeCKeditor('input_newsShort');</script>
	</div>

	{{> cmsUpdate updateStatus}}
	
</template>


<template name="cmsEdit_newsLong">

	<div class='itemlabel'>Article</div>
	<div class='itemfield'>
		<textarea id='input_newsLong' class='article'>{{newsLong}}&nbsp;</textarea>
		<script>placeCKeditor('input_newsLong');</script>
	</div>

	{{> cmsUpdate updateStatus}}

	</template>


