<!-- hili -->
<template name="homeHili">
	<!--
		{{#each hili}}
			{{#each hiliPreview}}
				{{title}}<br>
				{{subTitle}}<br>
				{{#each hiliImage}}
					<img src="{{this.url store='imagesThumb'}}" /><br>
				{{/each}}
			{{/each}}
		{{/each}}
	-->
	
	<div id="objecten">
		{{#each hili}}
			{{#each hiliPreview}}
			
			
				<div class="object">
					<div class="object-foto">
						<a href="{{hiliUrl}}">
							{{#each hiliImage}}
								<img src="{{this.url store='imagesThumb'}}"  width="290" height="300" alt=""/>
							{{/each}}
						</a>
					</div>
					<div class="object-tekst">
						<h2><a href="{{hiliUrl}}">{{title}}</a></h2>
						<p>{{subTitle}}</p>
					</div>
				</div>

			{{/each}}
		{{/each}}
		
		
		<!--
		<div class="object">
			<div class="object-foto">
				<a href="#">
					<img src="/front/images-producten/pizza-oven.jpg" width="290" height="300" alt=""/>
				</a>
			</div>
			<div class="object-tekst">
				<h2><a href="#">Buitenhaard + Pizzaoven</a></h2>
				<p>1290,00</p>
			</div>
		</div>
		
		<div class="object">
			<div class="object-foto"><a href="#"><img src="/front/images-producten/vitrinekast.jpg" width="290" height="300" alt=""/></a></div>
			<div class="object-tekst">
			<h2><a href="#">Stalen vitrinekast</a></h2>
			<p>3850,00</p></div>
		</div>
		
		<div class="object">
			<div class="object-foto"><a href="#"><img src="/front/images-producten/gefreesde-tafel.jpg" width="290" height="300" alt=""/></a></div>
			<div class="object-tekst">
			<h2><a href="#">Gefreesde picknicktafel</a></h2>
			<p>2300,00</p></div>
		</div>
		-->
		
	</div><!--einde objecten -->
	
	
	
</template>


