
<template name="cmsEdit_image">
	<div class='itemlabel'>Text</div>
	<div class='itemfield'>
		<input id='input_img1_text' value={{img1_text}} class='input-small' type='text' maxlength='100'>
	</div>		

	<div class='itemlabel'>Link</div>
	<div class='itemfield'>
		<input id='input_img1_link' value={{img1_link}} class='input-small' type='text' maxlength='100'>
	</div>		
	
	{{> cmsUpdate updateStatus}}

	<div class='itemlabel'>Image 1</div>
	<div class='itemfield'>
		{{> cmsEdit_image_upload}}
	</div>
</template>


<!-- images -------------------------------------------------------------- -->
<template name="cmsEdit_image_upload">
	<div class='btn action blue fileUploadWrap'>
		Upload image
		<input type='file' id='fileUploader' class='fileUpload'>
	</div>
	{{#each image}}
		{{#if isUploaded}}
			<img src="{{this.url store='sizeNormal'}}" /><br>
			<div class='btn action red'>&Cross;</div>
			{{this.name}}<br>
		{{else}}
			<div class="spinnerCfsUpload"></div>
			<br>
			Uploading...
		{{/if}}
	{{/each}}
</template>



