/* CMS, all childs of cms */

body{
	margin: 0px;
	padding: 0px;}

/* Layout */
#cmsContainer {
	padding: 4px 0px 40px 0px;
  background: hsl(202, 20%, 30%);}

#cms {
	color: #555;
	width: 800px;
  margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
  background: hsl(202, 00%, 70%);
  line-height: 1.5;}
#cms #main-head {
  margin: 0px 0px 0px 0px;
  padding: 4px 20px;
  background: hsl(202, 50%, 40%);
  width: 760px;
  color: hsl(202, 100%, 78%);}
#cms #main-nav {
  padding: 4px 20px 4px 20px;
  background: hsl(202, 40%, 50%);
  width: 760px;}
#cms #main-nav-cms {
  padding: 4px 20px 4px 20px;
  background: hsl(202, 20%, 60%);
  width: 760px;}
#cms #main-nav-blogGroups {
  padding: 2px 0px 0px 0px;
  border-bottom: 2px solid hsl(202, 20%, 60%);
  margin: 0px 0px 0px 20px;
  width: 760px;
  }
#cms #upload {
  padding: 20px 20px 10px 20px;
  margin: 0px 0px 0px 20px;
  width: 560px;}


#cms #main-list {
  padding: 20px 20px;
  width: 160px;
  float: left;}
#cms #main-item {
  padding: 24px 20px;
  float: left;
	width: 560px;}
#cms #main-footer {
  margin: 0px 0px 0px 0px;
  padding: 4px 20px;
  clear: both;
  background: hsl(202, 30%, 50%);
  width: 760px;
  color: hsl(202, 50%, 30%);}
#cms #btn-navbar {
  margin-bottom: 0px;
  padding: 6px 0px 6px 0px;}
#cms .btn-bar {
  border-bottom: 2px solid hsl(202, 20%, 60%);
  margin-bottom: 0px;
  padding: 0px 0px 8px 0px;}

#cms .btn-bar .btn {
  margin-bottom: 4px;
  }




#cms #btn-navbar-post {
  border-bottom: 2px solid hsl(202, 20%, 60%);
  margin: 14px 0px 10px 0px;
  padding: 6px 0px 4px 0px;}





/* List */
#cms .list{
	margin: 0px 0px 20px 0px;}


/* Item */
#cms .item{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
  color: #f00;
  }

#cms .itemlabel {
  color: #888;
  width: 100px;
  float: left;
  text-align: right;
  line-height: 1.5;
	font-size: 12px;
  padding: 9px 0px 0px 0px;
	margin: 0px 10px 6px 0px;
  }

#cms .itemfield {
  padding: 0px;
	margin: 8px 0px 0px 0px;
  width: 444px;
  float: left;}

#cms .itemlabel-low {
  text-align: right;
  padding: 0px 10px 0px 0px;
	margin: 0px 0px 0px 0px;
  color: #888;
  width: 100px;
  float: left;}

#cms .itemfield-low{
  color: #555;
  width: 444px;
  float: left;
  }

#cms .itemfield-remarks{
	font-style: italic;
  color: hsl(202, 00%, 40%);
	margin: 0px 0px 0px 0px;
  padding: 6px;
  }
#cms .itemfield-warning{
	font-style: italic;
  color: hsl(350, 90%, 50%);
	margin: 0px 0px 0px 0px;
  padding: 6px;
  }
#cms .items_spacer{
  float:left;
  width: 500px;
  height: 30px;
  }




/* Headers */
#cms h3{
  color: hsl(202, 50%, 40%);
	font-size: 12px;
	font-weight: normal;
	padding: 0px 0px 0px 8px;
	margin: 0px 0px 4px 0px;}

#cms .itemlabel h3{
  color: hsl(202, 00%, 50%);
  text-align: right;
	font-size: 12px;
  padding: 6px;
	margin: 0px 10px 6px 0px;}


/* Elements */
#cms p{
  margin: 0px 0px 0px 0px;
  padding: 6px;
	}
#cms .textLink{
  color: hsl(202, 100%, 78%);
  margin: 20px;
  }


/* Input */
#cms .input-small {
  padding: 6px;
  outline-color: hsl(202, 100%, 50%);
  color: #444;
  font-size: 12px; 
  width: 100%;
  width: 442px;
  }
#cms .prijs1 {
  padding: 6px;
  text-align: right;
  outline-color: hsl(202, 100%, 50%);
  color: #444;
  font-size: 12px; 
  width: 40px;
  }
#cms .prijs2 {
  padding: 6px;
  outline-color: hsl(202, 100%, 50%);
  text-align: right;
  color: #444;
  font-size: 12px; 
  width: 15px;
  }





#cms textarea.article{
  padding: 6px;
  color: #444;
  height: 20px;
  resize: vertical;
  outline-color: hsl(202, 100%, 50%);
	width:100%;
  font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
  background: hsl(30, 100%, 100%);
	}
#cms textarea.seoDescr{
  padding: 6px;
  color: #444;
  height: 40px;
  resize: vertical;
  outline-color: hsl(202, 100%, 50%);
	width:100%;
  font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
  background: hsl(30, 100%, 100%);
	}
#cms .wysiwig{
  padding: 6px;
  margin: 0px 0px 20px 0px;
  color: #444;
	background: #fff;
  }



/* Buttons fork from bootstrap */
#cms .btn{
  color: #888;
	display: inline-block;
	padding: 6px 16px;
	margin: 0px 1px 0px 0px;
	font-size: 12px;
  line-height: 1;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: default;
  background: hsl(202, 00%, 80%);
  border-radius: 2px;
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;}

  #cms a.btn {
    text-decoration: none;
    } 

  #cms .nav{
    color: hsl(202, 50%, 40%);
    background: hsl(202, 50%, 70%);}
  #cms .level1{
    font-size: 12px;
		padding: 10px 14px 10px 14px;
		}
  #cms .blogGroup{
    margin: 0px 1px 4px 0px;}
  #cms .col{
    margin: 2px 8px 2px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 126px;
    }
  #cms .btn:hover{
    background: hsla(202, 0%, 100%, 1);
    }


	#cms .btnSlideNum{
		margin: 0px 1px 4px 0px;
	}
	#cms .btnSlideNumSmall{
		margin: 0px 1px 4px 0px;
		padding: 6px 16px;
		padding: 6px 4px;
		width: 17px;
	}




  #cms .active{
    color: #000;
    cursor: default;
    background: hsl(202, 0%, 100%);}

  #cms .action{
    color: #eee;
    margin: 0px 2px 10px 0px;
    font-weight: bold;
    background: #888;
    padding: 7px 14px;
    border: 2px rgba(0, 0, 0, 0.2) solid;
    border-radius: 5px;
    }
    #cms .action:hover{
      color: #fff;
      border: 2px rgba(0, 0, 0, 0.4) solid;
      background: #aaa;}

    #cms .green{
      background: #5aa554;}
      #cms .green:hover{
        background: #7ac674;}

    #cms .blue{
      background: hsl(202, 50%, 50%);}
      #cms .blue:hover{
        background: hsl(202, 50%, 60%);}

    #cms .red{
      background: hsl(350, 70%, 60%);}
      #cms .red:hover{
        background: hsl(350, 70%, 70%);}

    #cms .orange{
      background: hsl(30, 100%, 63%);}
      #cms .orange:hover{
        background: hsl(30, 89%, 71%);}

      #cms .disabled{
        border: 2px rgba(0, 0, 0, 0.1) solid;
        color: #bcbcbc;
        background: #989898;}
      #cms .disabled:hover{
        cursor: default;
        border: 2px rgba(0, 0, 0, 0.1) solid;
        color: #bcbcbc;
        background: #989898;}

  #cms .small{
    font-weight: bold;
    width: 24px;
    padding: 8px 0px 0px 0px;
    height: 16px;
    }

  #cms .large{
    font-weight: bold;
    float: right;
    padding: 8px 10px;
    padding: 16px 36px;
    }
  #cms .narrow{
    padding: 7px 6px;
    border: 2px rgba(0, 0, 0, 0.2) solid;
    border-radius: 5px;
    }




/* Hide 'No file selected' on fileUpload input */
#cms .fileUploadWrap {
  overflow: hidden;
  position: relative;
	}	
#cms .fileUploadWrap [type=file] {
  display: block;
  font-size: 12px;
  filter: alpha(opacity=0.0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0.0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
	}	


#cms .help_text{
	margin-top: 10px;
	padding: 10px 0px;
	border-top: 2px #999 solid;
	font-style: italic;
	color: #666;
	}

#cms .upload_img{
  height: 280px;
  }


select {
  color: #444;
  font-size: 12px;
  padding: 6px;
  border: 0px;
  margin: 0px 2px 0px 0px;
  }


/* Hide 'No file selected' on fileUpload input*/
#cms .fileUploaderContainer {
  overflow: hidden;
  position: relative;
	background: #DDD;
  border-radius: 4px;
	width: 100px;
  font-size: 12px;
	padding: 5px 10px;
	margin: 0px 3px 6px 0px;
	line-height: 1.43;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	color: #333;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
	}	
#cms .fileUploaderContainer [type=file] {
	cursor: inherit;
  display: block;
  font-size: 12px;
  filter: alpha(opacity=0.0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0.0;
  position: absolute;
  text-align: right;
  top: 0;
	cursor: pointer;
	}	
#cms .fileUploader {
	width: 40px;
	}

#cms .icon {
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: normal;
  font-size: 18px;
  padding: 1px 0px;
  width: 31px;
  }
#cms .icon:hover {
  color: hsla(0, 0%, 100%, 1.0);
  }







