
.modal {
  content: "";
  display: none;
  background: hsla(0, 0%, 0%, 0.5);   	/* background dimmer */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal {
  display: block;
}
.modal .modal-dialog {
  top: 20%;                           	/* vertical postion of dialog */
}

.modal-dialog {
  font-family: 'Helvetica', arial;
  background: hsl(200, 00%, 70%);				/* background */
  /background: hsla(0, 0%, 100%, 0.5);   
  /border: #666 solid 2px;
  border-radius: 5px;
  position: fixed;
  z-index: 11;
  left: 50%;
  
  margin-left: -200px;                	/* horizontal postion of dialog */
  width: 360px;

  margin-left: -300px;                
  width: 600px;

  margin-left: -250px;                
  width: 512px;

}

.modal-body {
  padding: 20px;
  /background: hsl(200, 40%, 70%);
  float: left;
	clear: both;
}
#cms .modal-body .itemfield {
  width: 350px;
  }
#cms .modal-body .input-small {
  width: 350px;
  }

.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  /border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  /border-top: #eeeeee solid 1px;
  text-align: right;
}

.btn-close {
  color: #888;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  right: 16px;
  top: 3px;
}
.btn-close:hover {
  /color: #444;
  color: hsl(350, 70%, 60%);
}

