


/* RegistrationList ----------------------------------------------- */
#cms .main-list-big {
  padding: 10px 20px;
  float: left;
  /background: #f80;
	/width: 560px;
	width: 95%;
}
#cms .main-list-row {
  font-size: 10px;
	line-height: 100%;
  padding: 0px;
  display: flex;
  flex-flow: row;
}

#cms .main-list-row.label{
  color: #888;
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
}
.big-list-col-1 {
  flex: 1;
  /padding: 1px 10px;
  padding: 1px 2px;
  margin: 1px 0px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.big-list-col-2 {
  flex: 2;
  padding: 1px 2px;
  margin: 1px 0px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.big-list-col-3 {
  flex: 3;
  padding: 1px 2px;
  margin: 1px 0px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.big-list-col-4 {
  flex: 4;
  padding: 1px 2px;
  margin: 1px 0px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}


.delRegBtn {
	color: #F00;
	text-decoration: none;
}


