

/* legenda ---------------------------- */

#cms .legendaSample {
  width: 20px;
  height: 20px;
  border: 2px solid hsla(0, 0%, 0%, 0.3);
  margin: 10px 0px 0px 0px;
}
#cms .legendaSample:hover {
  border: 2px solid hsla(0, 0%, 100%, 0.3);
}
#cms .legendaSample p{
  padding: 0px;
  margin: 0px 0px 00px 30px;
  width: 250px;
}
#cms .legendaSample.selected {
  color: #000;
  border: 2px solid hsla(0, 0%, 100%, 0.6);
}
#cms .legendaSample p:hover{
  /font-weight: bold;
  /cursor: default;
}


.color0{
  background-color: #cccccc;
  background-color: hsl(17, 00%, 80%);
}
.color1{
  background-color: #99ccff;
  background-color: hsl(197, 90%, 70%);
  /background-color: hsl(197, 70%, 70%);
}
.color2{
  background-color: #ccffcc;
  background-color: hsl(107, 90%, 80%);
  background-color: hsl(177, 90%, 80%);
  /background-color: hsl(177, 70%, 80%);
}
.color3{
  background-color: #cc99ff;
  background-color: hsl(267, 90%, 80%);
  background-color: hsl(217, 90%, 80%);
  /background-color: hsl(217, 70%, 80%);
}





