<!-- text labels ............................... -->

<template name="text_Algemeen">
	{{#if is_equal frontLanguageHelper 0}}
		<p>Algemeen</p>
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		<p>General</p>
	{{/if}}
</template>

<template name="text_PlenaireSessie">
	{{#if is_equal frontLanguageHelper 0}}  
		<p>Plenaire sessie</p>
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		<p>Plenary session</p>
	{{/if}}
</template>

<template name="text_TrackLivingLabs">
	{{#if is_equal frontLanguageHelper 0}}  
		<p>Track living labs</p>
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		<p>Track living labs</p>
	{{/if}}
</template>

<template name="text_TrackMarktImplementatie">
	{{#if is_equal frontLanguageHelper 0}}  
		<p>Track markt implementatie</p>
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		<p>Track market implementation</p>
	{{/if}}
</template>



<template name="text_Bewustwording">
	{{#if is_equal frontLanguageHelper 0}}  
		<p>Bewustwording</p>
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}  
		<p>Awareness</p>
	{{/if}}
</template>
