<!-- text UI ............................... -->


<template name="text_registerBtn">
	{{#if is_equal frontLanguageHelper 0}}
		Registreer voor Conference
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}
		Register for Conference
	{{/if}}
</template>

<template name="text_registerBewustwBtn">
	{{#if is_equal frontLanguageHelper 0}}
		Registreer voor deze sessie
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}
		Register for this session
	{{/if}}
</template>


<template name="text_Nieuws">
	{{#if is_equal frontLanguageHelper 0}}
		Nieuws
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}
		News
	{{/if}}
</template>

<template name="text_contactBtn">
	{{#if is_equal frontLanguageHelper 0}}
		Neem contact op
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}
		Contact us
	{{/if}}
</template>


<template name="text_terugProg">
	{{#if is_equal frontLanguageHelper 0}}
		Terug naar programma
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}
		Back to program
	{{/if}}
</template>

<template name="text_terugNews">
	{{#if is_equal frontLanguageHelper 0}}
		<!--
		Terug naar nieuws overzicht
		-->
		Terug
	{{/if}}
	{{#if is_equal frontLanguageHelper 1}}
		<!--
		Back to news overview
		-->
		Back
	{{/if}}
</template>
